[2014-10-07 18:12] coyo8 opened #2 "Make unit test for the project"
Currently, there is no Unit test for the project. Add test for filings and saving to directories check for each of the requests.

[2014-10-07 18:14] coyo8 opened #3 "Add APIs for more filing types"
currently it supports only for four i.e. 10K, 10Q, 8K, 13F

[2015-01-13 14:51] cancan101 opened #4 "Programmatically Resolve CIK Codes"
See discussion: http://quant.stackexchange.com/questions/8099/central-index-key-cik-of-all-traded-stocks

[2015-01-13 15:11] rahulrrixe commented on #4
@cancan101 do you want CIK code of a company can be resolved with its company code or name?

like providing 'AAPL' or  'Apple Inc' can resolve its CIK to 0000320193.

[2015-01-13 16:28] cancan101 commented on #4
Ideally would be to specify the ticker but tickers are not reliably unique across time. That being said the SEC does have some of this functionality on the EDGAR site: [AAPL](https://www.sec.gov/cgi-bin/browse-edgar?CIK=AAPL&Find=Search&action=getcompany).

This might be scope creep, but would be cool to have some API to wrap the CIK mapping. ie some way of getting what ever the SEC has.

[2015-07-08 12:48] ericzx opened #7 "Help! - Not able to save the file :( error"
Hi,

I've implemented everything correctly but I get a "Not able to save the file :(" error. I see the appropriate SEC-edgar-data directory being created with the ticker/file sub-directory but it's empty/no file.

It returns "Successfully downloaded all the files" but I guess something is preventing it from saving?
Any ideas on what could be going wrong?
Any help would be appreciated! Thanks!

[2015-07-09 07:32] rahulrrixe commented on #7
@ericzx If you have downloaded the project from pypy (which is not updated) then you might be getting above error but if you try to install the project from the github then it will work the way it supposed to.

[2015-07-09 20:41] ericzx commented on #7
Thanks for getting back!

Yes I was using the pypy version. So I manually uninstalled that version and re-installed it via pip, but I still get the same error. Here is the command output:

Python 2.7.2 (default, Jun 12 2011, 14:24:46) [MSC v.1500 64 bit (AMD64)] on win
32
Type "help", "copyright", "credits" or "license" for more information.

started !0-KAAPL
C:\Python27\lib\site-packages\bs4\__in

[2015-09-06 13:08] hamm44 commented on #7
Hi,

I have the exact same issue with unable to save the file.

I am using os x and have downloaded the package from github link.

I am also getting an error message similar to ericzx

    /usr/local/lib/python2.7/site-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, bu

[2015-09-06 19:49] rahulrrixe commented on #7
@hamm44 @ericzx  Use the github instance, the project available on pypy have some issues. To install try below commands
<code> pip install git+https://github.com/rahulrrixe/SEC-Edgar </code>
Hope this might fixes your proble. If not, let me know.

[2015-09-07 02:24] hamm44 commented on #7
I tried using the the github instance, but it is still showing the same unable to save file error.

[2015-09-07 06:32] rahulrrixe commented on #7
@hamm44 I will fix the problem in next few days and will update you.

[2015-10-11 00:40] mountainhilljill commented on #7
@rahulrrixe hi, I also tried using the github instance and got the same result with @hamm44 .NOT able to save file error. Have you fix this already? Thanks

[2015-10-15 19:10] rahulrrixe commented on #7
@mountainhilljill @hamm44 @ericzx This issue has been fixed today using #8. You can fetch or clone the update code and run it.

[2015-10-15 21:05] mountainhilljill commented on #7
@rahulrrixe Thanks,it works!!!

[2016-05-25 16:29] Keni1989 commented on #7
@rahulrrixe: Hi, first, thank you very much for the opportunity to use your script. I also tried to implement the updated one but in my case, it did not save the 10-K/10-Q etc. For Instance by using the following comand in Python Shell:

the output is:

`started !0-KMSFT
('Number of files to download %s', 10)
Starting download....
Not able to save the file :(
Successfully downloaded all the files`

[2016-06-01 20:08] strongchong00 opened #10 "Always pulling '10' filings"
No matter what I do, ten filings are always pulled (if ten are available). Changing the input 'count' argument doesn't work. Has the url structure changed or become deprecated? Is that why I'm getting 10 each time? Need a little help.

[2016-06-01 20:09] #10 closed

[2017-01-06 18:22] prokaktus opened #12 "Update pypi version"
Pypi version still is `0.1.1`, but Github version now is `0.1.2`.
https://pypi.python.org/pypi/SECEdgar

[2017-02-02 16:08] manoj-shenoy opened #13 "Error called ImportError: No module named 'config'"
from config import DEFAULT_DATA_PATH
ImportError: No module named 'config'

this is the error i get, can u please help

[2017-02-28 17:24] jsink13 commented on #13
I think the syntax is a little wrong.   You meant to do something like:

from SECEdgar.config import DEFAULT_DATA_PATH
from SECEdgar import config

But I cannot get the code to actually respect the values I set, it always writes to the default location (next to where the code is)

[2017-05-16 14:43] david942j commented on #13
This issue is because of the different behavior of `import` between py2 and py3.
For py3 users, in `SECEdgar/crawler.py`
change `from config import DEFAULT_DATA_PATH`
into `from SECEdgar.config import DEFAULT_DATA_PATH`
as @jsink13 suggested will fix this issue.

BTW, is this work targeting to support py3? Maybe someone can submit a PR to fix this if so.

[2017-06-23 12:58] yunjianyang opened #20 "Substituting '-index.html' to 'txt' doesn't work now"
Hi all,

For recent 10-K files, this mechanism doesn't work. It works for AAPL 2001 but not for 2017.

[2017-06-24 14:27] HiramRuiz commented on #20
Hey everyone, first I have to say im a total noob.

I am also getting an issue with recent statements. Tried with APPL and PM and the files I end up with are formatted wierdly.

Output looks like:
`<P STYLE="margin-top:0px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:Times New Roman" SIZE="2">UNITED STATES </FONT></P> <P STYLE="margin-top:0px;margin-bottom:0px" ALIGN="center"><FONT
S

[2017-11-14 18:51] ashutoshchandrajha opened #22 "minor typo error while printing 13f filing. it prints 10-Q in the 13-F function."
https://github.com/rahulrrixe/sec-edgar/blob/4fc95dd2129802052350ebe8e54c401e3f53d395/SECEdgar/crawler.py#L115

[2017-11-26 07:40] liwzhi opened #23 "No file download, running the tutorial code. This library did not work"
I have installed this library through pip.

And, running the tutorial code, it did not work, no files in my local computer.

[2017-12-27 23:02] scigeek72 commented on #23
Same problem....no files downloaded.

[2018-03-01 10:26] faizansaeed97 opened #24 "indentation and print parenthesis problems in crawler with python3.5"
removed these errors

This script will download all the 10-K, 10-Q and 8-K  provided that of company symbol and its cik code.

[code]

[2018-03-23 00:22] shayanushani opened #25 "Typo"
In crawler.py

Line 15

        self.hello = "Welcome to Sec Cralwer!"

[2018-04-12 06:38] jsnyder8844 commented on #13
I'm seeing the same error message:
File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/SECEdgar-0.1.3-py3.6.egg/SECEdgar/crawler.py", line 9, in <module>
    from config import DEFAULT_DATA_PATH
ModuleNotFoundError: No module named 'config'

When I go into the crawler.py file, I don't see where I should make the change that @david942j  and @jsink13 suggested. Can yo

[2018-06-06 11:51] vijaydwivedi75 commented on #23
Did you find any library which works to download SEC filings?

[2018-07-02 01:53] aaronhma commented on #13
Thanks @david942j! It works for me!

[2018-07-24 18:04] jackmoody11 commented on #24
What is the issue here?

[2018-07-26 14:43] jackmoody11 commented on #22
This was solved in my PR (needs to be accepted)

[2018-07-26 14:43] jackmoody11 commented on #25
Fixed in my PR - still needs to be accepted

[2018-08-20 21:23] shayanushani commented on #24
Python 3.7 is having some troubles with print function not encapsulating string within parentheses and other indention problems in general

[2018-09-19 13:50] at49 commented on #24
There are missing parentheses for the print function in several places (line 44, 58-59 etc.) which is giving issues in Python 3.7

[2018-09-28 19:54] AdamZ2 opened #29 "Are the form parsed after download"
Hi,
I want to know if the form are parsed after the doanload.
Best,
Adam

[2019-01-20 18:30] bag189 commented on #23
same issues. I ran tutorial code and received

from SECEdgar.crawler import SecCrawler
secCrawler = SecCrawler()
secCrawler.filing_10K('AVB', '0000915912', '20101231', '8')

started !0-KAVB
('Number of files to download %s', 10)
Starting download....
Not able to save the file :(
Successfully downloaded all the files

The folder was created, but nothing in it

[2019-04-16 01:25] nateraw commented on #10
Count parameter should be one of the following: 10, 20, 40, 80, 100.

Optionally, you can go in and remove it, because it isn't a required parameter.

[2019-04-16 04:21] coyo8 commented on #29
No. These are just downloaded. Parsing feature needs to be added.

[2019-04-16 04:52] coyo8 commented on #4
Long time but will take this issue.

[2019-04-16 04:52] coyo8 commented on #20
I will check out this and fix it.

[2019-04-16 04:53] coyo8 commented on #25
Accepted the PR. Thanks @jackmoody11 :)

[2019-04-16 04:53] #25 closed

[2019-04-16 04:54] coyo8 commented on #24
@jackmoody11  can you take this issue?

[2019-04-16 04:54] coyo8 commented on #12
This been long due. I will do it soon.

[2019-04-16 04:56] coyo8 opened #31 "Add travis CI"
This will include linter and unit test check for each pull request. This is required as a new feature which gets added doesn't guarantee it will not break the project.

[2019-04-16 06:24] coyo8 opened #32 "Instead of using a huge single class; modularise the code."
Currently, one Single class handles all the responsibilities which are not good for a codebase as it makes changing things difficult and can cause many bugs and failure.

I will design a basic architecture which is abstract away some of the responsibility.

[2019-04-16 06:24] npsolve opened #33 "Create a basic command line interface."

[2019-04-16 07:58] jackmoody11 commented on #24
@coyo8 you can assign me this issue.

[2019-04-16 08:17] coyo8 commented on #24
@jackmoody11 I have sent you an invite to become collaborator for this project. Unless you can accept, I can't assign it on Github. BTW there is no one to take the issue and so go ahead.

[2019-04-16 15:00] jackmoody11 commented on #24
@coyo8 I believe that this should be fixed now. I used `format` instead of explicitly changing the data types to string.

I also went ahead and made some additional changes to repetitive code in crawler.py. I didn't realize I had permission to push to origin/master. If you would like to review code before I can push, I'm fine with you changing those permissions.

[2019-04-16 15:00] #24 closed

[2019-04-16 15:07] jackmoody11 commented on #33
I can help with this enhancement. If you wouldn't mind leaving some basic functionality you would like to see, I can work on it.

[2019-04-16 15:12] coyo8 commented on #33
Sure @jackmoody11. You can check for [click](https://click.palletsprojects.com/en/7.x/). It is really a good wrapper to write CLI tools.

[2019-04-16 15:16] coyo8 commented on #24
I will add unit tests and CI soon. This will detect changes on each pull request and without passing the CI and review we will not be able to merge it.

Yeah, it would be nice if we can review code. This way we both learns and improve the codebase.

[2019-04-16 15:23] #22 closed

[2019-04-16 15:34] #13 closed

[2019-04-21 07:10] #29 closed

[2019-04-24 06:13] jackmoody11 commented on #2
1. We can add a test to detect whether the directory are created or not?
2. We can mock request and response basically fetch_report method
3. Also the sanitize_date method.
4. Also some manipulations on the URL. As this crawler is too dependent on the string URL.

[2019-04-24 10:25] coyo8 commented on #23
@liwzhi @scigeek72 @bag189 I haven't updated the pip library for very long. Can you use the github version. You can download using.

[code]
if still, this issue persists let me know; will add proper support for it in next release.

[2019-04-24 10:27] jackmoody11 commented on #31
Closed with #36

[2019-04-24 10:27] #31 closed

[2019-04-24 10:27] coyo8 commented on #3
@jackmoody11 do you have any ideas about which filings are important apart from above four we can add support for them?

[2019-04-24 10:29] coyo8 commented on #4
There is an already WIP for this feature  #18; I am investigating more option about it to finalize the support.

[2019-04-24 10:32] coyo8 opened #37 "Better URL handling"
Currently, the URL we are using for downloading the file is a single string. Need to update it with proper headers and string interpolation.

[2019-04-24 10:34] npsolve opened #38 "Asynchronous requests."
Currently, sec-edger download one file at a time which is too slow as a user experience. We can have asynchronous requests to make it faster.

[2019-04-24 10:41] jackmoody11 commented on #3
Looking through recent reports for Apple, here are some that seem to come up:

- **424B2**: Forms for prospectuses
- **DEF 14A**: Definitive proxy statements
- **SC 13G**: Statement of acquisition of beneficial ownership by individuals
- **SC 13G/A**: Amendment to SC 13G
- **8-A12B**: Registration of securities
- **25**: Notification of the removal from listing and registration of matured, redeeme

[2019-04-24 10:43] jackmoody11 commented on #2
I am going to close this issue and open up more specific issues related to testing so that we can better track what tests need to be added.

[2019-04-24 10:43] #2 closed

[2019-04-24 10:48] coyo8 commented on #3
Cool. Parsing has been in my mind for very long. We will have to do a little bit planning for it. I will add my insights in the WIKI for the parsing. We can move forward from there then.

I will check if these filings are easy to add meaning we need to test each one of it and so it will require quite an amount of time. If things goes good; I will add it.

[2019-04-24 10:56] jackmoody11 opened #40 "Preliminary Testing"
The following ideas should be added to tests:

1. We can add a test to detect whether the directory is created or not?
2. We can mock request and response from the `_fetch_report` method
3. Also the `_sanitize_date` method
4. Also some manipulations on the URL. This crawler is too dependent on the string URL.

[2019-04-24 10:57] jackmoody11 commented on #33
It might be best to focus on the main functionality before we add a CLI.

[2019-04-25 07:42] jackmoody11 commented on #38
Not sure if SEC rate limits, but even if they do we can work around it to make this happen.

[2019-04-25 07:53] jackmoody11 opened #41 "Add check for CIK"
All CIKs are ten digits long. Would like to add a `_check_cik` method to make sure that the CIK is 10 digits.

[2019-04-25 08:20] jackmoody11 opened #42 "Add check for valid search"
If invalid parameters are given, EDGAR will still return a 200 status code. However, they also return the message "The value you submitted is not valid. Please try a different selection." We should have checks to try to prevent passing invalid parameters early on, but as a fallback we could use a check like
[code]

[2019-04-25 21:25] rodrigosnader commented on #7
@Keni1989 same here.

[2019-04-30 07:42] jackmoody11 commented on #7
@rodrigosnader @Keni1989 are you using the most recent version of SECEdgar from GitHub? I can't reproduce this problem on my end. We are working on updating the PyPi release.

[2019-04-30 10:18] coyo8 commented on #12
This is done. https://pypi.org/project/SECEdgar/

[2019-04-30 10:18] #12 closed

[2019-04-30 10:54] coyo8 commented on #7
We have updated the pypi.  can you try `pip install SECEdgar==0.1.4` installing the latest version and check if it works for you.

[2019-04-30 21:12] genelll commented on #23
Same result using version 1.4 "Not able to save the file :("

[2019-04-30 21:18] genelll commented on #7
requirements.txt is missing, while attempting to install via pip install SECEdgar==0.1.4

[2019-04-30 21:32] jackmoody11 commented on #23
Thanks for adding the error trace. I won’t be able to work on this for a few days, but it looks like the setup.py file needs to be modified to fix how requirements are read. If nobody else can pick this up, I can in a week.

[2019-05-02 03:21] coyo8 commented on #7
I will update it today.

[2019-05-02 12:14] coyo8 commented on #7
@genelll can you share the log here.

[code]

[2019-05-02 16:31] jackmoody11 commented on #7
@coyo8 does pip install work without using sudo?

[2019-05-02 17:24] jackmoody11 opened #44 "Fetching more than 100 documents"
Our current method of fetching urls to use for downloading the reports as txt files limits the number of files that can be downloaded to 100. It would be better to handle pagination so that we can exceed this limit if desired.

I think #10 is relevant here. Users should be able to download a certain number of files other than the default options of 10, 20, 40, 80, and 100.

Thanks to @mdalisouayah

[2019-05-03 06:40] coyo8 commented on #7
@jackmoody11 not necessarily. I needed because it is my system python. Don't need it if it is `brew` or in `virtualenv`.

[2019-05-05 06:36] jackmoody11 commented on #7
@coyo8 ok that makes sense. Thanks!

[2019-05-05 06:37] jackmoody11 commented on #7
@genelll can you add the log as @coyo8 mentioned?

[2019-05-06 06:28] jackmoody11 commented on #20
@yunjianyang have you tried working with the most recent version (0.1.4)? Now it should work. I did note when using a later date for AAPL that the documents were out of order, but the documents were still downloaded.

[2019-05-06 06:29] jackmoody11 commented on #20
Using the following should work:

[code]

[2019-05-06 17:32] yunjianyang commented on #20
Thank you. I'll try it later.

[2019-05-06 17:32] #20 closed

[2019-05-16 22:14] jackmoody11 commented on #37
I am working on modularizing how we handle requests sent on my [*modularize* branch](https://github.com/jackmoody11/sec-edgar/blob/modularize/SECEdgar/filings.py).

[2019-05-16 22:15] jackmoody11 commented on #32
This is in progress. You can see my progress on the *modularize* branch [here](https://github.com/jackmoody11/sec-edgar/blob/modularize/SECEdgar/filings.py). Feel free to make PRs as needed, and I will hopefully be able to merge this into master soon.

[2019-05-17 11:52] jackmoody11 commented on #44
This is currently in progress

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-17 21:11] mdalisouayah commented on #44
Thank you Jack. Your scraper was instrumental to my project. I did not miss
to reference your work! Thanks again.

On Fri, May 17, 2019, 7:52 AM Jack Moody <notifications@github.com> wrote:

[2019-05-18 21:13] jackmoody11 opened #50 "Move CHANGELOG to whatsnew"
**Is your feature request related to a problem? Please describe.**
Not a problem, just a suggestion to decrease amount of changes necessary in the future.

**Describe the solution you'd like**
Delete CHANGELOG in favor of maintaining changes on the _whatsnew_ section of docs

[2019-05-18 21:26] jackmoody11 commented on #7
@genelll @coyo8  I just realized that previous versions of this project did not include a MANIFEST.in file to tell PyPi to include the requirements.txt file. I have added a pull request which should fix this. I think it might be best to set up `tox` with this project so that we can do a better job of testing on a fresh environment in the future. I will open a new issue for that.

[2019-05-18 21:29] jackmoody11 opened #51 "Add tox for better testing"
**Is your feature request related to a problem? Please describe.**
We have previously released versions which have not included important files that are needed for setup.py (see #7). Adding tox may help us in the future to better test setup.py.

**Describe the solution you'd like**
Add tox with the supported versions of python and have it run `pytest`. Will also need to add this to docs (maybe in

[2019-05-23 14:40] #32 closed

[2019-05-23 16:21] #42 closed

[2019-05-23 16:21] jackmoody11 commented on #44
@mdalisouayah glad it helped!

[2019-05-23 16:21] #44 closed

[2019-05-23 16:21] #37 closed

[2019-05-23 16:22] #40 closed

[2019-05-28 12:42] jackmoody11 commented on #7
This issue is a bit dated and I believe that recent changes (adding MANIFEST.in file) should fix the issue. If this issue persists, please open another issue and I will take a look at it.

[2019-05-28 12:42] #7 closed

[2019-05-28 12:43] jackmoody11 commented on #23
@genelll I have added a MANIFEST.in file which should include the requirements file. I am going to close this issue as everything seems to be working properly now. Let me know if the problem persists and thanks for helping us out!

[2019-05-28 12:43] #23 closed

[2019-05-28 16:34] jackmoody11 commented on #3
A more complete answer to the available forms can be found at [sec.gov/forms](https://www.sec.gov/forms)

[2019-05-30 13:29] #41 closed

[2019-05-30 14:47] #50 closed

[2019-05-30 14:47] #51 closed

[2019-05-30 18:03] jackmoody11 opened #55 "Add doctr for automatically deploying docs. Will need help from @coyo8 for this."

[2019-05-30 18:04] jackmoody11 commented on #55
Using [doctr](https://drdoctr.github.io) will allow us to automate our documentation deployment when using GitHub Pages.

[2019-06-03 00:36] jackmoody11 commented on #55
@coyo8 According to the last build by Travis, this doesn't seem to be working properly. You may need to run `doctr configure` again or it may be a problem with us not having a gh-pages branch. Will you try doing these two things and see if that fixes the issue?

[2019-06-03 02:30] coyo8 commented on #55
It is working and got published at http://www.rudrakos.com/sec-edgar/. Due to my custom domain configuration; it is getting published on my personal blog domain. I will look into how to change that.

[2019-06-03 10:43] jackmoody11 commented on #55
Everything looks good. I don't think there is any reason to change the domain as long as we link to it in the description.

[2019-06-03 10:43] #55 closed

[2019-06-06 11:38] jackmoody11 opened #57 "Idea: Change SECEdgar folder to secedgar"
**Is your feature request related to a problem? Please describe.**
It is normally recommended that package names are lowercase.

**Describe the solution you'd like**
Consider changing the folder <kbd>SECEdgar</kbd> to <kbd>secedgar</kbd> if it doesn't cause any breaks in functionality.

[2019-06-10 10:16] raffam opened #60 "How to extract data from file?"
This is not a bug report but a request from help. How to extract the data from the .txt filing?
For example, I got the attached .txt file, which seems to embed a PDF file in turn. How can I extract the PDf file from this txt file?
[0000000000-15-011167.txt](https://github.com/coyo8/sec-edgar/files/3271609/0000000000-15-011167.txt)

[2019-06-19 11:27] raffam opened #62 "All types of forms are downloaded regardless of the type you specify"
**Describe the bug**
You specify that you want 10k only. But the software download everything nevertheless

**To Reproduce**

[code]

**Expected behavior**
Download only 10K

**Additional info**
The code above has downloaded only a 25-NSE form, without any 10K

**Screenshots**
Not applicable

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Windows 10 Education
 - Browser

[2019-06-19 11:48] raffam commented on #62
There is definitively a serious bug in the software. If you put count=50, it will download the last 50 filings regardless of the document type

[2019-06-19 15:14] ethanjahn opened #64 "Latest pypi distribution does not include filings module"
**Describe the bug**
Installing latest version using pip does not include the filings module, which appears to contain the preferred class according to the documentation

**To Reproduce**
Steps to reproduce the behavior:
1. Run `pip install SECEdgar` or `pip install SECEdgar==0.1.4`
2. Attempt to import to python using `import SECEdgar.filings`
3. See `ModuleNotFoundError: No module named SECEdgar

[2019-06-19 16:36] raffam commented on #64
I think you have to use the Github version for this

[2019-06-19 23:11] jackmoody11 commented on #64
@ethanjahn @raffam's comment is correct. This functionality is only available in v0.1.5. I will submit a change to the documentation and README.

[2019-06-19 23:26] jackmoody11 commented on #60
How did you get this result? It looks like it is encoded. It might need to be decoded.

[2019-06-19 23:45] jackmoody11 commented on #57
@coyo8 what are your thoughts on this?

[2019-06-20 02:22] jackmoody11 commented on #3
I vote to close this issue as it should be a matter of changing `_VALID_FILING_TYPES`. Do you agree @coyo8?

[2019-06-20 06:55] raffam commented on #60
Yeah it is uuencoded but I solved it with the extractor

[2019-06-20 06:55] #60 closed

[2019-06-21 02:30] jackmoody11 opened #66 "Automating version release process"
**Is your feature request related to a problem? Please describe.**
There is not a clearly defined system to release new versions. It would be nice to have some sort of versioneer, like the [one used in the pandas project](https://github.com/pandas-dev/pandas/blob/master/versioneer.py), to automate this process.

**Describe the solution you'd like**
A script to automate versioning and simplify rele

[2019-06-22 05:49] #64 closed

[2019-07-01 05:37] raffam commented on #62
Fixed

[2019-07-01 05:37] #62 closed

[2019-07-29 16:26] hunsbea opened #71 "Error importing SECEdgar libraries, maybe wrong html5lib version?"
**Describe the bug**
Getting an error when trying to import the library, as per the documentation. Looks like something may have changed inside html5lib? May need to specify which version you're using in the requirements.txt.
Edit: I'm using html5lib==1.0.1

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
A clear and concise description of what you expected to happen

[2019-08-15 14:36] newtomtl83 opened #72 "Adding support for DEF 14A"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-15 14:36] newtomtl83 commented on #72
Great package! I work on parsing DEF 14A forms. They provide very valuable information on company officers. Can you add support for it?

[2019-08-15 22:45] danipolo opened #73 "Adding S-1"
Add S1 fillings.

[2019-08-18 12:56] jackmoody11 commented on #71
Have you tried updating the beautiful soup and html5lib packages? Take a look at [this SO post](https://stackoverflow.com/questions/38447738/beautifulsoup-html5lib-module-object-has-no-attribute-base) and let me know if that resolves the issue.

[code]

[2019-08-18 14:01] #72 closed

[2019-08-18 14:25] jackmoody11 commented on #73
@coyo8 does it make more sense to add all of the available form types?

[2019-09-04 08:18] kairichard commented on #73
That would be great!

[2019-09-09 03:21] coyo8 commented on #73
Yeah, it makes sense. We can add it.

[2019-09-19 10:07] Alex6614 opened #75 "Crawler downloads multiple times if count > number of filings"
**Describe the bug**
I'm crawling for all 10-K filings of companies. When I set the count to above the number of actual 10-K filings, the crawler loops through the 10-K again and appends to the output file multiple times. This creates files that are multiples in length of what it should be

**To Reproduce**
Steps to reproduce the behavior:
1. Use cik=0001652044 for Google, which currently has 6 10

[2019-10-14 23:41] studiocardo opened #76 "from SECEdgar.filings import Filing() --> SyntaxError: invalid syntax"
**Describe the bug**
A clear and concise description of what the bug is.

1.
**To Reproduce**
Steps to reproduce the behavior:

1. #> pip install SECEdgar
2. #> python
3. >>> from SECEdgar.filings import Filing()
4.>>>
  File "<stdin>", line 1
    from SECEdgar.filings import Filing()
                                       ^
SyntaxError: invalid syntax

  File "<stdin>", line 1
    from SECEdgar.f

[2019-10-22 01:22] huntersgordon commented on #76
Try this:
`from SECEdgar.filings import Filing`
don't type parenthesis after Filing

[2019-12-13 04:48] jackmoody11 opened #78 "Create class to handle CIK"
Request from @coyo8: Can we add one more interface to Filing which will fetch the cik? Our current format for cik constraining here like leading zeros and a lot of users can make mistakes and input wrong cik codes.

What I am thinking of is eliminating the use of string codes and instead use the company name. The new API should accept Filing(cik=CIK(for:) where CIK is an instance of a CIK class wh

[2019-12-14 16:30] #3 closed

[2019-12-14 16:30] jackmoody11 commented on #3
This should be taken care of with FilingType enum

[2019-12-14 16:31] jackmoody11 commented on #4
The latest PR should address this. Will close once that is approved.

[2019-12-14 16:35] #76 closed

[2019-12-15 21:22] jackmoody11 commented on #75
Should be closed with #77

[2019-12-15 21:22] #75 closed

[2019-12-15 21:23] jackmoody11 commented on #73
Closed with #77

[2019-12-15 21:23] #73 closed

[2019-12-17 05:34] #78 closed

[2019-12-18 03:26] jackmoody11 opened #80 "Network Encapsulation in CIK class"
I guess for the current implementation, it is fine, we can pass the CIK.

In an ideal world, we can have independent NetworkClient then we can use it here also. In this case, network client takes the responsibility of creating the URLs and fetching them and so the CIK class might look like this.

[code]

_Originally posted by @coyo8 in https://github.com/coyo8/sec-edgar/pull/79_

[2019-12-18 03:27] jackmoody11 opened #81 "Class for validating CIK"
Do you think we should do type check for CIK? This section looks a little complicated to me as we are checking the instance type at the runtime level.

One design which I can think of is:
`CIKService`: We can create a separate class name CIKService whose responsibility would be to fetch the particular ticker value from either company name or list of string etc and return the code or codes.

Now, t

[2019-12-18 03:29] jackmoody11 opened #82 "Create NetworkClient class to handle requests"
Our network layer is also becoming complicated. We can refactor this by having a `NetworkClient` class. The client will have the responsibility to create the request, trigger the request, parse the data and also error handling.

And this client will be used by `_EDGARBASE`.

Currenlty `_EDGARBase` is suppose to work as a abstract class but it has been laiden with lot of implementation details.

_O

[2019-12-21 01:03] jackmoody11 commented on #38
This is going to be really important if we want to provide access to lots of reports at once. Is there a way to do this for Python 2.7 and Python 3.x? Looks like the newest version of aiohttp requires Python 3.5.3+

[2019-12-23 18:29] jackmoody11 opened #84 "Change URL in description to docs url"
Instead of using the pypi URL, it might be more helpful to provide the URL to the documentation on rudrakos.com

[2019-12-23 18:32] jackmoody11 commented on #4
This issue has been moved to #81

[2019-12-23 18:32] #4 closed

[2019-12-25 15:21] coyo8 commented on #38
I did some reading. I will add an example. We can simply use `async/await`.  Our code structure will change as now we will get callbacks. Trying to write a wrapper on top of request.

[2020-01-11 17:55] jackmoody11 opened #85 "What Python versions should we support?"
Currently we support Python 2.7, and 3.4-3.8. If we want to add async support, we can easily do so using aiohttp (which only supports 3.5.3 and older) and the async/await syntax added in 3.5. Since we are currently building the package, is there any good reason to add support for older versions of Python? Or should we develop for newer versions of Python?

[2020-01-11 17:56] jackmoody11 commented on #38
@coyo8 can you look at #85?

[2020-01-29 01:10] #80 closed

[2020-01-29 02:35] jackmoody11 commented on #71
Travis is using setup.py for testing and this doesn't seem to be a problem, so I am going to close this. If this problem persists, feel free to open another issue referencing this thread.

[2020-01-29 02:35] #71 closed

[2020-01-29 02:40] #81 closed

[2020-01-29 02:40] #82 closed

[2020-02-21 22:34] jackmoody11 opened #86 "Easily get accession number to simplify XBRL and file extraction process"
Currently we are scraping multiple pages to get to the final TXT file. We are making lots of unnecessary calls. The format of the URLs for both the TXT files and the XBRL files are of the same format. This is what a search looks like when searching for a certain filing type:

![Main Filing Search Page](https://user-images.githubusercontent.com/27718962/75077063-a9aef380-54cf-11ea-83be-6af9eb166ec6

[2020-02-22 23:47] jackmoody11 opened #87 "Support for Daily Index"
This isn't a top priority, but figured I would add a message for the future.

We can add support for scraping the daily index. This gives a file for every day of EDGAR's filings since the inception of the database. It can be found at https://www.sec.gov/Archives/edgar/daily-index/.

[2020-02-25 02:24] mksamelson opened #88 "Form 8K Not Supported in Version 0.1.5?"
I don't see Forms 8-K among the supported forms in Filings.  Is that right?  Am I missing something?

Thanks

[2020-02-25 02:51] jackmoody11 commented on #88
You are right. Thanks for bringing this to our attention! I will put in a PR to fix this.

[2020-02-25 03:04] mksamelson commented on #88
How long does that normally take you guys?

On Mon, Feb 24, 2020, 9:51 PM Jack Moody <notifications@github.com> wrote:

[2020-02-25 03:23] jackmoody11 commented on #88
Just put in the PR @mksamelson. Hopefully it will be a quick review for @coyo8 and we can get that squared away. Thanks again!

[2020-02-25 03:25] jackmoody11 commented on #88
If you are using 0.1.5, I am assuming you cloned the latest repo from GitHub? If you want to fix it on your own you can see the small change I made in #90. This should add support for 8-k forms.

[2020-02-25 14:07] mksamelson commented on #88
Thank you!

[2020-02-27 15:20] mksamelson opened #91 "Use Case Example in Documentation"
Could you put a use case in the the documentation using Filings but with a date range instead of a number of documents?

[2020-02-27 15:48] jackmoody11 commented on #91
This is not in the code yet, but I am working on it. We will change the filing class to take in a `start_date` and `end_date`. The start date will default to None so that if it isn't specified all filings before end date will be fetched. The end date will replace the dateb parameter (this is the same thing, but using end_date seems more straightforward).

[2020-02-28 13:17] #88 closed

[2020-02-28 13:25] mksamelson opened #92 "Announcement Date / Filing Date"
The date the company _announced_ results is very important.  That is the date the results become public as opposed to the statement date which is the date the company closes the books.

You should include announcement/filing date with each statement.

[2020-02-28 15:38] jackmoody11 commented on #92
@mksamelson I believe we are using the filing date (dateb should be the same thing as if you use the prior to search bar in SEC EDGAR company search). See the prior to search bar [here, for example.](https://www.sec.gov/cgi-bin/browse-edgar?CIK=aapl&owner=exclude&action=getcompany)

[2020-02-28 17:15] mksamelson commented on #92
10Qs appear to have the close of period date.

On Fri, Feb 28, 2020, 10:38 AM Jack Moody <notifications@github.com> wrote:

[2020-02-28 17:19] jackmoody11 commented on #92
@mksamelson How would you get the announcement day from the EDGAR database if you were searching normally?

[2020-02-28 17:21] jackmoody11 commented on #84
@coyo8 would you mind changing the PyPi link to https://www.rudrakos.com/sec-edgar/?

[2020-02-28 17:22] mksamelson commented on #92
I have to look.  It is the same thing as filing date I believe.

On Fri, Feb 28, 2020, 12:19 PM Jack Moody <notifications@github.com> wrote:

[2020-02-28 17:23] mksamelson commented on #92
I will come back to you on it.

On Fri, Feb 28, 2020, 12:19 PM Jack Moody <notifications@github.com> wrote:

[2020-02-28 21:47] jackmoody11 opened #93 "Map of tickers to CIKs used for search"
One possibility for simplifying lookups by CIK would be to include the SEC's mapping of tickers to CIKs as [explained here](https://www.sec.gov/about/webmaster-faq.htm#ticker-cik). This would help eliminate the need for the CIK validator and might make lookups much faster/reliable.

[2020-03-04 04:40] jackmoody11 opened #95 "Add support for Master Filings and XBRL Filings"
# Considerations

- Define which methods are needed for each of these filings
- What information will be taken from each?
- Where will the client get the data from? (URL format for each)

# Follow up actions

- Make proper tests
- Where will these classes be placed (filings package?)
- Update docs

# Notes

- Look at [this PDF](https://www.sec.gov/data/financial-statements/aqfs.pdf) for more info

[2020-03-04 13:24] mksamelson commented on #92
You are correct.  There is no announcement date associated with 10Q/10K filing.  I erroneously believed the filing date was always the filing date.  It is not (sometimes it is).

Announcement Date (earnings announcement date) actually comes via an 8 k and can be anywhere between 0 to a few days before the actual filing date.

Sorry for the confusion.  However, if you _are_  able to pluck the annou

[2020-03-05 21:59] boosie212 opened #96 "No module named 'SECEdgar.filings'"
I am trying to run the example code from the ReadMe and am getting the following error.

No module named 'SECEdgar.filings'

[2020-03-06 13:20] boosie212 commented on #96
Hi @jackmoody11 . Thanks for the quick followup. I installed the newest version and am now getting the following error:

AttributeError: module 'html5lib.treebuilders' has no attribute '_base'

Do you know what could be causing this issue?

[2020-03-06 13:34] boosie212 commented on #96
@jackmoody11 - Figured it out. Had to update the references in the bs4/builder/_html5lib.py file from html5.treebuilders._base to html5.treebuilders.base

[2020-03-06 13:37] coyo8 commented on #84
Done 👍

[2020-03-06 13:37] #84 closed

[2020-03-06 13:39] coyo8 commented on #85
I think we should switch to a new version as python 2 is already going to be depreciated but we will have to evaluate the effort in migration.

[2020-03-06 14:34] jackmoody11 commented on #96
@boosie212 glad you found a solution. Another possible solution would be to `pip install --upgrade html5lib` as per this [Stack Overflow answer](https://stackoverflow.com/questions/38447738/beautifulsoup-html5lib-module-object-has-no-attribute-base). This might be better for you going forward. I am going to close this issue, as it seems that we figured it out.

[2020-03-06 14:34] #96 closed

[2020-03-06 14:36] jackmoody11 commented on #85
@coyo8 right now all tests are running fine for the supported versions of Python 3. I think this should be as simple as updating the docs to say that only Python 3 is supported.

[2020-03-06 14:40] jackmoody11 commented on #66
@coyo8 did you add your username/password for PyPi when you added the GitHub action to send to PyPi on version release? The code looks like this.

[code]

If not, here is [a how-to guide](https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets) for storing encrypted values on GitHub.

[2020-03-06 15:29] boosie212 opened #97 "Add support for N-CSRS"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-14 03:27] chrjxj commented on #57
support jack's suggestion.

[2020-03-20 22:40] jackmoody11 commented on #66
This is done with #94

[2020-03-20 22:40] #66 closed

[2020-03-21 21:42] mjkoo91 opened #99 "No filings available for NPORT"
When using the commands below, I receive a "ValueError: No filings available." output however other filing types work without any issues such as FilingType.FILING_NCEN.

my_filings = Filing(cik=my_cik, filing_type=FilingType.FILING_NPORT, count=15)
my_filings.save('~/tempdir')

Perhaps there is a difference between Edgar and your variable definition for NPORT? It seems that your code defines it as

[2020-03-21 21:55] jackmoody11 commented on #99
@mjkoo91 thanks for bringing this to our attention! I think this should be a simple fix. We just need to change the value for the enum. I’ll tag you when this is fixed.

[2020-03-21 22:15] mjkoo91 commented on #99
@jackmoody11 Thank you very much for your quick response. I will look forward to your quick fix! Thanks again. :)

[2020-03-22 03:52] jackmoody11 commented on #99
@mjkoo91 what company/fund were you interested in? This will help with testing.

[2020-03-22 03:56] jackmoody11 commented on #92
Right now this doesn't seem to be in the scope of the project. We still haven't decided if it is best to make a parser a part of the project or not (right now, the project's main goal is fetching the filings). If you think this is something that the project should have, feel free to leave a comment and I will reopen this issue. Thanks!

[2020-03-22 03:56] #92 closed

[2020-03-22 04:00] jackmoody11 commented on #38
Should we make support require 3.5? If we did this, we would be to just use the async/await syntax.

[2020-03-22 04:55] mjkoo91 commented on #99
@jackmoody11  One of the funds that I'm interested in is 'AB BOND FUND, INC.' (CIK= 0000003794) which has 13 NPORT-P Filings. Please let me know if there is any other information you may be interested in. Thank you.

[2020-03-22 14:53] #57 closed

[2020-03-22 15:03] #97 closed

[2020-03-22 17:12] iamjeroen opened #100 "filings.save does not always select the company CIK"
**Describe the bug**
`cik = doc_name.split('-')[0]` selects the first part of the accession number. According to the SEC documentation this is a CIK but not always the CIK of the company as [explained here](https://www.sec.gov/about/webmaster-faq.htm#accession-number). This may lead to unexpected directories upon saving

**To Reproduce**
Steps to reproduce the behavior:
1. For example download and

[2020-03-22 17:21] iamjeroen commented on #100
Suggested change:
`cik = url.split('/')[6].zfill(10)`

[2020-03-22 17:41] jackmoody11 commented on #100
Not sure if the beginning will every change but would it be ok if we did `cik = url.split('/')[-3].zfill(10)` instead?

[2020-03-22 17:41] jackmoody11 commented on #100
Good catch! Thank you for bring this to our attention. Will you see if my proposed change (in response to yours) will work and let me know?

[2020-03-22 20:26] iamjeroen commented on #100
Not sure if the ending will ever change either, so both could work for now.

Perhaps a more structural solution would be doing something with the list of CIKs already available in the class? Like have get_urls() return a dictionary {cik:url} instead of a list.

[2020-03-24 16:39] #99 closed

[2020-05-04 02:39] #100 closed

[2020-05-18 21:45] #91 closed

[2020-05-20 02:02] jackmoody11 commented on #85
As of now, we have decided to stop supporting Python 2, as it has reached its end of life. Looking forward to async support and using aiohttp, we will support Python 3.5+. Please let us know if this poses challenges for you and we will reconsider.

[2020-05-20 02:02] #85 closed

[2020-05-21 02:26] #87 closed

[2020-05-28 18:01] #93 closed

[2020-06-17 06:38] jonzd opened #116 "DailyFilings not working"
Using the DailyFilings function to get a day's filings does not work, Line 92 of daily.py has a problem with datetime.strftime.

TypeError: descriptor 'strftime' requires a 'datetime.date' object but received a 'str'

When I changed datetime.datetime.strftime to formatted_date = self._date.strftime("%y%m%d"), network_client.py gives a client-side error.

Thanks!

[2020-06-17 13:03] jackmoody11 commented on #116
Thanks for reporting this bug. Can you give the full traceback?

[2020-06-17 21:32] jonzd commented on #116
---------------------------------------------------------------------------
EDGARQueryError                           Traceback (most recent call last)
~\anaconda3\lib\site-packages\secedgar\client\network_client.py in get_response(self, path, params, **kwargs)
     96             try:
---> 97                 self._validate_response(response)
     98             except EDGARQueryError:

~\anaconda

[2020-06-18 14:15] jackmoody11 commented on #116
@jonzd thanks for providing the details. I won’t be able to fix this bug until the end of June, but will look into what is causing it and get it fixed as soon as possible. I appreciate your support!

[2020-06-18 14:50] jackmoody11 commented on #116
@jonzd can you show the code where you create `todays_filings`?

[2020-06-18 23:40] jonzd commented on #116
@jackmoody11
`today_filings = DailyFilings(date=datetime(2020,6,10))`

[2020-06-26 13:54] Marsh-James opened #117 "Missing fillings on request, provided cik, information gaps"
**Describe the bug**
Using the generic code you provide, I'm requesting 10-k and 10-q filings. Unfortunately I'm only receiving information up to 2009 (where there is a format change but the filing is consistent), and missing years 2016.

**To Reproduce**
Steps to reproduce the behaviour:

[code]

I've attached my code to demonstrate how my fillings are being pulled. Just wrapped in some loops not

[2020-06-26 14:03] jackmoody11 commented on #117
Thanks for filing an issue @Marsh-James! I will look into it.

[2020-06-26 16:27] Marsh-James commented on #117
Hi, cheers for the reply. Also had a look at the code in [filing.py](https://github.com/sec-edgar/sec-edgar/blob/master/secedgar/filings/filing.py), I think you're right. Running the test now. I'll update when I have the results :).

[2020-06-26 16:46] Marsh-James commented on #117
Had a crack, fell into another error. Still saved more files than 10 this time.
![image](https://user-images.githubusercontent.com/32681425/85881065-f59edb80-b7d4-11ea-956e-ae06f20a9166.png)

[2020-06-26 17:24] Marsh-James commented on #117
Fixed by adding encoding format see line 213:
![image](https://user-images.githubusercontent.com/32681425/85884309-554bb580-b7da-11ea-979d-c9191bc5d856.png)

[2020-06-26 19:22] jackmoody11 commented on #117
@Marsh-James did you completely solve the problems you were having? If so, I think all that needs to be done is make the `Filing` object save all filings that it finds by default.

[2020-06-26 19:25] jackmoody11 commented on #117
TODO:

- Rename `count` variable used in `Filing` class to signify total number of filings to fetch
- Rename `count` variable used in `NetworkClient` to signify batch size to fulfill requests in (ex: `count = 10` means fetch 10 filings at a time)

[2020-06-26 19:48] Marsh-James commented on #117
Yeah, so the fix was to expand count to include more files than the default 10, and then for some reason one of the 10-Q reports contained latin-1 characters which we're given trouble when encoding. I modified the save file to specify utf-8 which then solved that problem. So far I can't see any side effects, I'll update if something comes up. :)

[2020-06-27 01:38] jackmoody11 commented on #117
I was thinking the exact same thing. I will start working on this. Should be a simple fix.

[2020-06-27 14:58] jackmoody11 commented on #116
@jonzd I had a chance to look at the code. There are a few changes I am working on. It throws an EDGARQueryError after fixing `strftime` because the path requires a trailing slash.

[code]

[2020-06-27 15:39] jackmoody11 commented on #116
## Note

The format for master.idx files changes some time in the 90's or 2000's. Will need to adapt code to take care of this. Currently causes a bug.

[2020-06-28 16:30] #116 closed

[2020-06-28 16:31] jackmoody11 commented on #116
@jonzd this bug should be fixed now. If you can confirm that the latest version of the master branch fixes your problem that would be much appreciated! Thanks for helping improve the project. Your name is mentioned in our v0.1.7 docs.

[2020-06-29 16:35] #117 closed

[2020-06-29 18:49] jackmoody11 opened #120 "EDGARQueryError should be able to take in message."
Even if `EDGARQueryError` is called with something like `EDGARQueryError("My custom error message.")` it is overridden by the default `__str__` method. This should be changed so that custom error messages can be passed to the class.

Also, it may be worth looking into whether this should be labeled as an error or exception. Not sure what the convention is for this.

[2020-06-30 02:55] jackmoody11 opened #122 "Add support for full-index"
Currently, the project only supports fetching filings for specific companies of specific form types or fetching all filings from a specific day.

By adding support for [downloading from full-index](https://www.sec.gov/Archives/edgar/full-index/), we would add support for more efficiently creating local databases of filings.

For basic guidance as to how the path structure works, see [python-edgar]

[2020-07-05 14:33] jackmoody11 opened #123 "Improve documentation for get_cik_map"
Add examples of how to use with iPython.

[2020-07-05 21:47] rahul18cracker opened #124 "missing forms do not generate error's if years pulled are less"
Hi Jack

Thanks a lot for your help in advance, i took the latest package of secedgar 0.1.7 today(previously i was on 0.1.6. I was trying to pull 10-k forms for various companies and things were working good. I was able to pull a few companies but when i pull the symbol 'dis' for 10 years of records i see only 2019 file. Then i check secedgar page and it only show results for 2019. The question i

[2020-07-05 23:59] jackmoody11 commented on #124
@rahul18cracker thanks for sharing this. That sounds like a good idea and should not be too difficult to implement. I’ll work on adding a warning for v0.2.0.

[2020-07-15 03:09] #123 closed

[2020-07-18 17:17] #124 closed

[2020-07-18 17:18] jackmoody11 commented on #86
We are actually using the xml format which gives all of the filing urls at once. This should not be an issue.

[2020-07-18 17:18] #86 closed

[2020-07-19 16:51] #33 closed

[2020-07-19 18:34] jackmoody11 commented on #122
This is a duplicate of #95. Will close in favor of the original issue.

[2020-07-19 18:34] #122 closed

[2020-07-25 15:27] #95 closed

[2020-07-25 15:31] #120 closed

[2020-07-27 16:30] formvoltron opened #130 "error running simple example"
**Describe the bug**
The example:
from secedgar.filings import Filing, FilingType

my_filings = Filing(cik_lookup='IBM', filing_type=FilingType.FILING_10Q)
my_filings.save('./filings')
-----------------------------
Gives the error.

Traceback (most recent call last):
  File "testit.py", line 4, in <module>
    my_filings.save('./filings')
  File "/yada/sec-edgar/secedgar/filings/filing.py", line 2

[2020-07-27 17:03] jackmoody11 commented on #130
Thank you for reporting this! The bug was due to `self._count` not being set if the count variable is not specified. I will release v0.2.1 as soon as possible to address this bug.

[2020-07-27 17:23] #130 closed

[2020-07-27 18:48] formvoltron commented on #130
Great.  Thank you Jack.  Works for me now.

Do you have a tip on how best to parse these .txt files into the actual files?

Looks like just pull out the contents between each <DOCUMENT></DOCUMENT>

But then you have these
<TYPE>EX-11
<SEQUENCE>2
<FILENAME>ibm13q3_ex11.htm
<DESCRIPTION>EX-11

headers.

Should I work on something in python to take a txt file and turn it into individual files?

[2020-07-27 19:01] jackmoody11 commented on #130
Glad to hear that it is working for you now @formvoltron! The parsing of the files has been an issue which we have been thinking about for a while. You can see #61 for reference.

Most of the info you are likely looking for should be in between the `<DOCUMENT>` tags. I'd recommend using something like [beautifulsoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/), lxml, or the built in re

[2020-07-27 19:25] jackmoody11 opened #134 "XBRL filing type"
**Is your feature request related to a problem? Please describe.**
There is currently no easy way to download XBRL files in the XML form that they can be downloaded in.

**Describe the solution you'd like**
Add xbrl.py file and XBRLFilings class to allow for this to be easily handled.

[2020-07-27 20:08] rahul18cracker commented on #130
Hi @formvoltron <https://github.com/formvoltron>!

I can help you with that, i was trying to parse these forms and i was able
to parse info out from Form 10-k . Let me know i can send you the python
code snippets for that

Thanks
~Rahul

On Mon, Jul 27, 2020 at 12:02 PM Jack Moody <notifications@github.com>
wrote:

--
*Thanks and **Regards *
*Rahul Mathur*

Failure defeats losers but inspires winn

[2020-07-27 20:11] jackmoody11 commented on #130
@rahul18cracker if you could share those with me as well, I would really appreciate that!

[2020-07-27 20:11] formvoltron commented on #130
Hi Rahul -

 OK, I could start with your code, or maybe you'd like to post it here?  I
guess the official way is a pull request.  I've never done that before, so
I'm no use.. but I can figure it out if you'd prefer.

On Mon, Jul 27, 2020 at 10:09 PM rahul18cracker <notifications@github.com>
wrote:

[2020-07-28 06:11] rahul18cracker commented on #130
Hi Jack/@formvoltron

Please find the code below, I am not sure how to send it to you guys on git
hub. Let me paste it here

*Few things to note *
1. I am parsing Only Form 10-k here
2. I am extracting some XBRL fields only, in case you guys need more please
add them
3. I have omitted out the the other classes and all that use this or
logging part. THis will help keep things clean for you understa

[2020-07-28 13:35] jackmoody11 commented on #130
For some reason, the code from @rahul18cracker wasn't being formatted correctly, so I cleaned it up and put it below.

[code]

[2020-08-05 17:08] formvoltron commented on #130
hey guys, sorry I got pulled into earnings season.  Will be back later...

[2020-08-25 18:22] jasontwright opened #135 "ModuleNotFoundError 'click'"
**Describe the bug**
ModuleNotFoundError 'click'

**To Reproduce**
1. Executed `secedgar daily --date 20200824` on a Windows machine running Python 3.7.1
2. Error follows:
`Traceback (most recent call last):`
  `File "c:\users\jwright\python37_64bit\lib\runpy.py", line 193, in _run_module_as_main"__main__", mod_spec)`
  `File "c:\users\jwright\python37_64bit\lib\runpy.py", line 85, in _run_code ex

[2020-08-25 23:51] jackmoody11 commented on #135
Thanks for raising this issue @jasontwright! I need to put this in the documentation. Currently, the CLI is an optional install, meaning that the extra dependency needed for it (called click), is not installed by default.

To install the secedgar package with dependencies for the CLI, use the following:

[code]

For future reference, it also should work to just `pip install click`. If a `ModuleNot

[2020-09-10 09:14] alpbozkurt opened #136 "Daily filings with DailyFilings class all have "404 - Not Found" content"
**Describe the bug**
With DailyFilings usage, 'save_filings' method of IndexFilings class generates wrong URLs for calls to 'requests.get', which results in "404 - Not Found" page in all downloaded files. I.e: URL: http://www.sec.gov/0001140361-20-015873.txt

Interstingly, 'get_urls' method generates correct URL list but 'save_filings' method don't use it and generates URLs in some other way, whic

[2020-09-13 20:04] jackmoody11 commented on #136
Thanks for bringing this up @alpbozkurt! If you want to mirror how we took care of this with the Filing object that would be awesome. If not, I can also fix it.

[2020-09-13 20:05] #135 closed

[2020-10-25 22:33] #136 closed

[2020-10-25 22:50] jackmoody11 opened #139 "Add Option to Mass Download Using Zip Files"
**Is your feature request related to a problem? Please describe.**
It would be useful to download all filings at once as a zip file. This would limit the number of requests needed to send to the SEC database and limit time communicating with the SEC server.

**Describe the solution you'd like**
Add option to download daily/quarterly filings using zip files on the back end. The API used should stay

[2020-10-25 22:57] jackmoody11 opened #140 "Add more functionality to save method"
**Is your feature request related to a problem? Please describe.**
Currently, the functionality of the `save` method is hard-coded and restrictive. It is very possible for filings to be saved however one likes using `get_filings_dict`; however, it may be better to have a more systematic approach to this that would allow users to define the structure of their directories in a more readable manner.

[2020-11-07 17:24] baridhi opened #141 "PF Filing Type Not Returning Any Results"
I tried using the library to get form PF. However, I get an error.
More generally, may I request you to please share which repository/SEC archive do you use to extract from PF?
I'm particularly interested in that data on hedge funds. Thanks.

[2020-11-07 19:51] jackmoody11 commented on #141
@baridhi can you please share the snippet of code that is giving you an error and also paste the trace back so I can see where the error is coming from? I will look into this.

[2020-11-07 20:21] jackmoody11 opened #142 "Provide logging functionality"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to log which files are being downloaded. It may be helpful to add opt-in functionality to provide logs.

[2020-11-07 20:35] jackmoody11 commented on #142
This seems a bit out of the scope of this project and should probably be best left to those using the project. If others would like to see an example of how to do this in the documentation, I can add that.

[2020-11-07 20:35] #142 closed

[2020-11-07 20:46] baridhi commented on #141
Hi Jack, thanks a lot for the message. I realized it was a trivial mistake at my end. So the package worked for say, form 13D etc. But I'm more keen on form PF and tried this for Blackstone (using blk as ticker). But it does not recover any info. Am I missing something? Elsewhere, I did learn that form PF is regulatory data and may not be disclosed by the SEC. I'm unsure of how to reconcile that w

[2020-11-08 00:56] jackmoody11 commented on #141
@baridhi I looked for Blackrock's PF filings through SEC Edgar and didn't find anything. You might want to check if there are subsidiaries of Blackrock that are required to file PF filings that use different CIKs.  You can see my search for Blackrock's PF filings here:

![Blackrock PF Filing search](https://user-images.githubusercontent.com/27718962/98454407-33702100-2132-11eb-9231-1ab6a130da02.pn

[2020-11-08 01:04] jackmoody11 commented on #141
TODO

- [ ]  Add test to check that non-existent ticker raises `CIKError` rather than `ValueError` when no URLs returned

[2020-11-08 01:23] baridhi commented on #141
Hi Jack, Thanks a lot for the helpful pointers. I read up more on this, and found this: https://www.sec.gov/files/formpf.pdf . As per page 11 on this, the SEC does not intend to make available form PF (filed by private funds, not publicly listed) information. So we should not be able to find those details anywhere. Except with the SEC themselves. So perhaps your library works just fine and maybe t

[2020-11-08 02:04] jackmoody11 commented on #141
@baridhi Thanks for letting me know. It seems like that is the case. I may add removing the PF filing type to the to do list as well.

[2020-11-08 02:05] #141 closed

[2020-11-24 19:18] ermin-sakic opened #144 "CIK Lookup API broken"
**Describe the bug**
CIK mappings / lookup API is currently broken.

**To Reproduce**

[code]

**Expected behavior**
Return a dict as per documentation of the API

**Desktop (please complete the following information):**
Ubuntu Linux 20.04, master branch, self-installed

[2020-11-25 03:28] jackmoody11 commented on #144
Thanks for reporting this issue @ermin-sakic. I will take a look at it.

[2020-11-25 10:48] ermin-sakic commented on #144
Thanks for investigating @jackmoody11 . This issue is not deterministic and might have to do with the rate limiter of SEC EDGAR as described [here](https://github.com/jadchaar/sec-edgar-downloader/issues/24) and [official EDGAR SEC developer resources](https://www.sec.gov/developer#:~:text=Current%20guidelines%20limit%20each%20user,addresses%20that%20submit%20excessive%20requests).

What helped me

[2020-11-25 23:00] jackmoody11 commented on #144
@ermin-sakic I believe you are right. This seems to be a rate-limiting issue. How many CIKs are you trying to look up at once? You might find [`utils.cik_map.get_cik_map`](https://github.com/sec-edgar/sec-edgar/blob/master/secedgar/utils/cik_map.py#L7) to be helpful if you are simply looking for the CIKs.

Regardless, I think that adding the option to pause in between requests should be included i

[2020-11-26 14:53] ermin-sakic commented on #144
@jackmoody11  I tried fetching around 50-100 elements in a list. That lead to a block with the blocking period lasting ~10 minutes. During that period, any requests issued to SEC EDGAR are blocked based on the source IP address.

[2020-11-28 04:49] #144 closed

[2020-11-28 04:53] jackmoody11 commented on #144
@ermin-sakic this should be taken care of now. Can you `pip install git+https://github.com/sec-edgar/sec-edgar.git` and run your code again to verify? I will release to PyPi after.

[2020-12-02 18:08] ermin-sakic commented on #144
@jackmoody11 , from initial tests, I can confirm this has solved the issue with the rate limiter. Thanks for the fast fix!

[2020-12-06 22:30] realkevinwang opened #145 "accession_numbers is an empty list"
**Describe the bug**
accession_numbers is an empty list

**To Reproduce**
[code]

**Expected behavior**
show a list of accession numbers

[2020-12-07 23:53] jackmoody11 commented on #145
@realkevinwang Thanks for reminding me. I still need to implement this feature.

[2020-12-09 06:03] reteps commented on #140
This is kind of a tricky problem, since the user doesn't really know anything about the properties of the filing system.

I am a big fan of user defined lambdas / functions, but in this case I think a format string would work better. Here is what I would propose (with my limited knowledge).

+ Make a `pattern` argument that overrides directory.

For example, a user could now use it like this:
[cod

[2020-12-09 06:24] reteps commented on #38
Status @npsolve?

[2020-12-09 11:56] jackmoody11 commented on #38
@reteps I am not very familiar with the async await syntax, so this has not gone very far.

[2020-12-09 11:59] jackmoody11 commented on #140
@reteps this is a really clean solution!

[2020-12-18 20:32] nmccarthy82 opened #151 "Form 13G and 13D"
I would like to be able to pull forms SC-13G, SC-13D, SC-13G\A and SC-13D\A

[2020-12-21 19:36] jackmoody11 commented on #151
@nmccarthy82 would you mind providing a company or two that would have these filings for testing purposes?

[2020-12-21 19:59] nmccarthy82 commented on #151
@jackmoody11
JOHNSON & JOHNSON (JNJ) (CIK 0000200406)
Enphase Energy, Inc. (ENPH) (CIK 0001463101)

[2020-12-21 20:08] jackmoody11 commented on #151
Ok, @nmccarthy82 this is an easy fix. I am currently working on  #150 which is a much larger PR and will lump this change in with those changes. All I need to do over there is add testing.

[2020-12-23 16:12] statzhero opened #153 "Form ABS-EE"
I'm making a request for form ABS-EE, in particular Exhibit 102. Thanks!

[2020-12-23 21:21] jackmoody11 commented on #153
@statzhero Can you provide a company or two I can test this on?

[2020-12-24 16:01] statzhero commented on #153
Yes CIK = 0001763799 -- but just FYI I have implemented this otherwise in the meantime.

[2020-12-26 07:04] reteps opened #154 "Filing Types"
Couple issues with the filing types:

+ added individually
+ groups are not supported
+ list of types is not supported

### Added Individually
Let me illustrate this. Many odd form types are not supported, e.g. `1-A POS`, etc.

Note that all the codes are listed here:  https://www.sec.gov/edgar/search/#/category=custom
As well as officially here: https://www.sec.gov/info/edgar/specifications/edgar

[2020-12-26 12:51] jackmoody11 commented on #154
@reteps the first link you provide doesn't work. Was that supposed to link to something?

[2020-12-26 15:34] jackmoody11 opened #155 "Add entry_filter and MasterFilings support for CLI"
**Is your feature request related to a problem? Please describe.**
The new feature being worked on in #150 will add entry_filter functionality. This should be able to be used from the command line.

**Describe the solution you'd like**
Since users won't be able to create their own entry_filter functions/lambdas in the CLI, we will need to add some popular options. I am thinking of the following: f

[2020-12-26 18:42] #38 closed

[2020-12-26 18:42] #139 closed

[2020-12-26 18:42] #140 closed

[2020-12-26 18:42] #145 closed

[2020-12-26 18:42] #151 closed

[2020-12-26 22:11] jackmoody11 opened #157 "Simplified API"
**Is your feature request related to a problem? Please describe.**
@reteps had brought this up to me and I think he makes a good point. There is no need for the end user to have to create separate `DailyFilings`, `MasterFilings`, and `Filing` objects. There should just be a single `Filings` object that uses some basic logic to delegate tasks to the correct class.

**Describe the solution you'd lik

[2020-12-26 22:45] jackmoody11 commented on #154
@reteps I think that using enums is probably the easiest way here. It provides a single way of validating whether a filing type is valid and doesn't require any additional logic. It should be easy to add the other filing types. I just downloaded the complete list using the list you provided. Maybe it would be good for us to create a script that checks whether our list of filings is up to date with

[2020-12-27 02:59] jackmoody11 commented on #154
Running into one issue on updating the filing types to include more values:

There seems to be two filing types that look the same but are listed as distinct filing types. Not sure what the deal is here.

NT N-CEN and NT-NCEN

Will need to look into this. For now, I am going to accept the first result that shows up (NT N-CEN), but may need to come back and change this later.

[2020-12-27 03:29] jackmoody11 commented on #154
@reteps I am wondering how helpful groups would actually be for users who don't know which filings they want to download. If users don't know which filing types they should be downloading, I don't know how they would be able to make anything of the information they download.

On the other hand, creating groups would be helpful for users that know what filing types they want. It depends if more oft

[2020-12-27 04:09] jackmoody11 commented on #153
@statzhero I was looking through the filing types and it looks like we already have FilingType.FILING_ABSEE. Did you try using this and it didn't work as expected? If so, how did you fix it?

[2020-12-27 06:37] reteps commented on #157
I thought about this for a while, as this is really a tricky problem. I have decided that this is my favorite example:

[code]

The bottom line is that the current inheritance pattern sucks. A `DailyFiling` and `Filing` have almost nothing in common except functionality, so **the required functionality should be inherited, not what they have in common**. This means that the `AbstractFiling` will b

[2020-12-27 13:27] jackmoody11 commented on #157
Thanks for your thoughts on this @reteps. This gives me a lot to think about. Will work on drawing up a reworked API to try to address some of these issues.

[2020-12-30 07:54] reteps opened #159 "Bulk downloading forgets to actually download"
**Describe the bug**

`_index.py` - was working on rewrite and noticed that the files are not actually downloaded if `download_all` is true..

[2021-01-05 23:04] abbadata opened #164 "NetworkClient.get_response() calls requests.get() multiple times even on valid response"
In secedgar/client/network_client.py:

[code]

Even when the response passes validation, it does not break out of the for loop. Thus even on valid responses, requests,get() will be called multiple times (self.retry_count + 1). Thus, whenever we attempt to call save() on the filings, it makes a number of unnecessary network requests to Edgar.

[2021-01-05 23:40] jackmoody11 commented on #164
Thanks for pointing this out @abbadata! Would you like to create a PR for this? You should just need to add a break statement after validating the response. Otherwise, I can do it.

[2021-01-06 12:52] jackmoody11 commented on #164
TODO:

- [ ] Add whatsnew for v0.3.1
- [ ] Add test to check that `get_response` is only called as many times as is needed
- [ ] Release to PyPi

[2021-01-07 13:07] jackmoody11 opened #166 "Docstrings not properly formatted"
Attributes in classes docstrings should be Args in a lot of cases. See [Google docstring guidelines](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html).

[2021-01-07 23:50] jackmoody11 opened #167 "Larger filings hold back async from sending close to 10 requests per second"
**Describe the bug**
When trying to save a larger filing type (e.g. 10-K), only about 5 filings are being saved per second. This seems to suggest that maybe 10 requests aren't being sent per second. This seems to be related to the problem we were running into earlier, where there was some sort of latency between requests and the EDGAR server. Not sure if this is fixable or if it is a limitation ou

[2021-01-08 01:15] reteps commented on #167
https://github.com/sec-edgar/sec-edgar/blob/c6aad3b99fa186a42bf42de4c60a5bfc9efbdb81/secedgar/client/network_client.py#L200

Does this need to be `await`?

[2021-01-08 01:16] reteps commented on #167
There is no reason it should be 5 it/sec. i was getting 10 on my own.

[2021-01-08 01:17] reteps commented on #167
can we measure the time to save? I bet that's it.

[2021-01-08 02:24] jackmoody11 commented on #167
Not sure about that. Will need to check.

[2021-01-08 02:24] jackmoody11 commented on #167
Hmmm...Yeah, we can do that.

[2021-01-08 05:38] rahul18cracker commented on #167
Not sure why woudl you try a quater=4 for a 10-k form filed yearly. I use it like this

my_filings = Filing(cik_lookup=ticker_symbol.lower(),
                    filing_type='10-K;',
                    count=10)
my_filings.save(self.__path_to_save_file)

This works good for me

Please note i am on version secedgar       0.1.7 which is very old as per current release number

Thanks
~Rahul

[2021-01-08 12:05] jackmoody11 commented on #167
@rahul18cracker this is just referring to bulk downloading 10-K filings. So this would download all 10-k filings that were filed within the 3 month time period of the quarter.

[2021-01-08 19:07] rahul18cracker commented on #167
@jackmoody11 : Thanks for the clarification, i dint notice this was a bulk call

[2021-01-13 02:29] #164 closed

[2021-01-13 02:31] jackmoody11 commented on #166
Closed with #168

[2021-01-13 02:31] #166 closed

[2021-01-14 10:48] alexiskattan opened #170 "Download just based on FilingType and not have a company?"
I'd like to download all the 10Ks between certain dates without specifying a stock.

[code]

It seems to require a stock though.  When I run the above code, I get the error, `TypeError: __init__() missing 1 required positional argument: 'cik_lookup'`

My question is, is there anyway to search just based on the `FilingType` and not include a stock name?

[2021-01-14 13:00] jackmoody11 commented on #170
Hi @alexiskattan. You can use `MasterFilings` with an `entry_filter = lambda f: f.form_type.lower() == "10-k"` to do this. If you need to limit dates further, you can also check the documentation on how you can further modify `entry_filter`. We are currently working on changing the API to make this easier for users.

[2021-01-14 13:42] alexiskattan commented on #170
Thank you!

[2021-01-14 13:42] #170 closed

[2021-01-18 03:48] jackmoody11 commented on #153
@statzhero I tried this using the following code and was unable to find any bugs. Please let me know if this issue persists. Closing for now.

[code]

[2021-01-18 03:48] #153 closed

[2021-01-29 08:55] alexiskattan opened #175 "tqdm needs to be added as a dependency"
During a fresh install, you have to install `tqdm` independent.  Should probably be added as a dependency.

[2021-01-29 11:37] jackmoody11 commented on #175
Thanks for pointing this out @alexiskattan.

[2021-02-04 11:43] jorgelaranjo opened #176 "Datetime Error on Daily Fillings"
**Describe the bug**
`TypeError: can't compare datetime.datetime to datetime.date.`

**To Reproduce**
Steps to reproduce the behavior:
1. `$ secedgar daily -d 20210203`
2. See error
[code]

**Expected behavior**
Download daily fillings

**Desktop (please complete the following information):**
[code]

[2021-02-05 08:24] Yugeshaidu commented on #175
Hi @jackmoody11 I would like to work on this issue. I'll have tqdm added as a dependency in the requirements.txt file

[2021-02-05 17:18] jackmoody11 commented on #175
Thanks @Yugeshaidu

[2021-02-06 21:28] rezagolestani commented on #154
Hi, Thanks for the great work,

I just came across an issue with sec-edgar, when selecting FILING_4 as the form type to be downloaded, it will download any form starting with "4", like form 424B3, 424B5, 424B2. is there any way to filter these out?

below is the code I was using:

my_filings = Filing(cik_lookup='AMZN', filing_type=FilingType.FILING_4, start_date=datetime(2010, 1, 1))

[2021-02-09 08:11] matinashtiani opened #180 "error saving files"
I installed the API and run the next couple of code lines.
I got an error when I wanted to save the filing.

[code]

The following error is rising when I run the last command:

`---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-9-ae9d2e927b58> in <module>
----> 1 filing.save('FFS')

[2021-02-09 23:38] jackmoody11 commented on #180
Hi @matinashtiani, thanks for reporting this. Which version of secedgar are you using?

[2021-02-11 21:07] fyx99 commented on #180
Quick workaround -> probably problem for all using a newer python version with asyncio
!pip install nest_asyncio
import nest_asyncio
nest_asyncio.apply()

[2021-02-12 02:54] jackmoody11 commented on #180
@fyx99 is this a 3.9 issue? Or does it begin earlier than that?

[2021-02-12 10:24] fyx99 commented on #180
probapbly, I am running on 3.9

[2021-02-14 01:30] mjkoo91 opened #181 "Filing type"
Hello!

First of all, I appreciate letting me use your crawler to download SEC filings. It has been very beneficial.
I was wondering if it is possible to add N-SAR filings (which are mutual fund annual reports) as a filing type ? They are largely used by academics and I believe they are as crucial as 10-K filings, as they are annual reports reported by open-end funds.
The name of the filing type i

[2021-02-14 13:33] jackmoody11 commented on #181
Hi @mjkoo91. Thanks for pointing this out. If you would like to create a pull request, this is relatively straightforward to do. All you need to do is go into the filing_types.py file and add two enums like the other filing types. It is in alphabetical order.

[2021-02-14 13:35] jackmoody11 opened #182 "Add developer guidelines in docs"
- [ ] How to add filing types
- [ ] Style guidelines
- [ ] How to run CI checks locally
- [ ] General structure of code (diagram?)

[2021-02-15 00:29] reteps commented on #180
@jackmoody11 do the tests run on 3.9?

[2021-02-15 11:48] jackmoody11 commented on #180
Yes, they do @reteps. Not sure why they aren't catching this.

[2021-02-20 01:10] matinashtiani commented on #180
I am using 0.3.2.

[2021-02-20 13:04] jackmoody11 commented on #180
Ok, thanks for sharing this @matinashtiani. I will see if I can find the issue.

[2021-02-20 13:07] jackmoody11 commented on #180
@reteps I think this might have something to do with [this](https://stackoverflow.com/a/56662635/8206432).

[2021-02-23 14:06] reteps commented on #180
I think we just add nest_asyncio as a dependency.

[2021-02-24 03:46] jackmoody11 commented on #180
@reteps Would rather find the underlying issue and fix if we aren't using asyncio like it is intended/supposed to be used.

[2021-02-26 18:20] jdrich79 commented on #154
I noticed a similar thing with Form SC 13G and SC 13G/A, which in my case is actually nice because I ultimately want both, so a single pull is great. Assuming that this is caused by the same thing as mentioned about with the Filing 4, I wanted to comment that building in a way to pull both 13G and 13G/A in one pull would be great.

The /A is an amendment to the original filing, so where those exis

[2021-02-27 22:22] esvhd commented on #180
Hi - I ran into this problem with python 3.8.5 as well on Ubuntu. So far, I'm using `nest_asyncio` to get around this problem. Looking forward to a proper fix. Thanks.

[2021-02-27 22:26] esvhd commented on #180
Actually correcting myself... using `nest_asyncio` did not solve the problem, it appeared to be doing something, but no file was downloaded into the specified folder...

[2021-02-28 03:37] reteps commented on #180
@jackmoody11 [This answer](https://stackoverflow.com/a/56662635/15261182) gives us a explanation why this is illegal:

[code]

[2021-02-28 03:39] reteps commented on #180
I'm not entirely sure how to resolve it, but the issue is most certainly in the [`wait_for_download_async` function](https://github.com/sec-edgar/sec-edgar/blob/bb0ea3beaa4d7c527a14ac81bf7987cf56de54d1/secedgar/client/network_client.py#L182)

[2021-02-28 03:41] reteps commented on #180
Note:         `async with await session.get(link) as response:` -> `async with session.get(link) as response:` since we batch, we don't need to wait for session.

[2021-02-28 03:43] reteps commented on #180
Final notes:

+ move client and conn to init of network client
+ remove fetch method, move into fetch_and_save method
+ make fetch_and_save global method, remove session parameter

I'll open PR to fix these, though I'm not sure that will resolve the issue.

[2021-02-28 03:59] reteps commented on #180
Ok, it is added to 0.4.0

[2021-02-28 04:01] #167 closed

[2021-02-28 22:22] esvhd commented on #180
Hi @reteps , thanks for this, has this code been merged to master? If so I'm happy to test it.

[2021-02-28 22:31] reteps commented on #180
It isn't because the code works fine without it on my machine haha. Just ran your script:

[code]

[2021-02-28 22:33] reteps commented on #180
@esvhd Can you share your version of `aiohttp`?

[code]

[2021-03-01 04:19] reteps commented on #154
Will be resolved by 0.4.0 release btw.

[2021-03-01 07:47] esvhd commented on #180
Here's mine. Got installed when I pip installed `secedgar`

[code]

I changed it to your version 3.6.3 but it still did not work.. Here's what I need:

[code]

Then when in the folder, there is not data...

[2021-03-01 21:48] reteps commented on #180
I don't understand how mine could work but yours doesn't

[2021-03-01 21:53] reteps commented on #180
What platform are you on? I am running this on `ubuntu 18.04` inside windows WSL2.

[2021-03-01 21:54] reteps commented on #180
I just upgraded to the latest version of aiohttp which did not change anything, so I suspect it has to do with the python version if that is the only difference.

[2021-03-01 21:57] reteps commented on #180
Possible problem: 3.8 has a different default event loop.

https://www.python.org/downloads/release/python-381/

Python3.8: `on Windows, the default asyncio event loop is now ProactorEventLoop`

[2021-03-01 21:58] reteps commented on #180
Can you upgrade python to any version >=3.8.1 and test?

[2021-03-02 14:28] esvhd commented on #180
I’m running Ubuntu 20.04..

Sent from my iPhone

[2021-03-02 14:30] esvhd commented on #180
Hi - I’m actually running Pythian 3.8.5 here.. odd

Sent from my iPhone

[2021-03-02 20:53] reteps commented on #180
So to confirm, we have identical python, sec-edgar, and platform, but mine works and yours does not.

[2021-03-03 10:38] jackmoody11 commented on #180
@esvhd Can you show us what you get when you run `pip list`?

[2021-03-03 13:36] esvhd commented on #180
Appreciate your help folks.

Here's my python details:

[code]

Here's pip output:

[code]

[2021-03-03 22:33] reteps commented on #180
After upgrading my stuff, and comparing:

Your stuff:
[code]

My stuff:
[code]

Not sure how you got the processor information, but this is so incredibly strange!

[2021-03-03 22:38] reteps commented on #180
[code]

[2021-03-03 23:51] esvhd commented on #180
Try the watermark package, pretty easy to get system info.

Sent from my iPhone

[2021-03-04 12:36] jackmoody11 commented on #180
@esvhd can you set up a new virtual environment where you only `pip install secedgar` and then run the script? And then let us know if the problem persists.

[2021-03-05 23:19] reteps commented on #180
@esvhd Here is a link to a guide for something that @jackmoody11 outlined. https://help.dreamhost.com/hc/en-us/articles/115000695551-Installing-and-using-virtualenv-with-Python-3

[2021-03-06 10:48] esvhd commented on #180
Hi guys, let me try this later and will let you know. Thanks!

Sent from my iPhone

[2021-03-09 02:30] reteps commented on #180
@esvhd Just wanted to give you a reminder we are waiting on that.

[2021-03-09 11:48] #175 closed

[2021-03-09 12:48] jackmoody11 commented on #180
@esvhd I just merged a PR into master that adds tqdm as a requirement, so that should be fixed now. Working on finalizing v0.3.3 release so that we can release that.

[2021-03-09 17:42] reteps commented on #180
I think he did. I am going to try setting up a venv as well, see if anything changes, maybe it stops working.

[2021-03-09 17:42] reteps commented on #180
Wait a second... I think there is a bug with `~` saves... can you try saving to `./files` or something.

[2021-03-09 22:17] esvhd commented on #180
Looks like that's it! I tried `filing.save('./edgar')` and it worked. Guess it didn't recognise `~` as home directory? But somehow the process did not fail.

Thanks v much for looking into this.

[2021-03-09 22:23] esvhd commented on #180
Hi @jackmoody11 - I just tried WITHOUT importing `nest_asyncio` in my newly created environment, after saving to `./edgar` as @reteps suggested, the download **worked as expected**.

FYI - Interestingly, in my old base conda environment, without `nest_asyncio`, with `./edgar` it still did not work..

Looks like it was related to `save()`.

[2021-03-10 02:38] jackmoody11 commented on #180
Glad we got that figured out! I think that we may have used to have some logic that would expand the user directory. Should definitely mention that in the documentation.

[2021-03-10 18:48] #159 closed

[2021-03-11 17:48] reteps commented on #180
I am going to mark this as closed and open a new issue for expansion of `~`.

[2021-03-11 17:48] #180 closed

[2021-03-11 17:49] reteps opened #187 "[BUG] Expansion of ~ is not done correctly."
See #180 for details.

[2021-03-29 21:02] President opened #191 "RuntimeError: This event loop is already running - on the code from README"
**Describe the bug**
Example code from README is not working

**To Reproduce**
Steps to reproduce the behavior:

Just run the code from README:

[code]

And you will see the error:

[code]

**Expected behavior**
I expect that code from README should work

**Desktop (please complete the following information):**
OS X 11.2.3

[2021-03-31 04:02] meh369 opened #192 "Does CIK_Lookup work with CIK numbers?"
I wanted to get filling data using CIK ids because they're more reliable and unique than using tickers which are constantly raising multiple matches error.

[2021-03-31 10:34] jackmoody11 commented on #192
See #190

[2021-04-05 02:15] jackmoody11 commented on #191
I think we need to close the loop as is outlined in [this Stack Overflow question](https://stackoverflow.com/questions/41231399/necessity-of-closing-asyncio-event-loop-explicitly).

[2021-04-05 14:14] meh369 opened #193 "Message Forbidden"
Hi,
I've tried other APIs for scrapping the sec fillings from the Edgar website however this has been the most stable one. However recently as of the 5th of April, I am facing a forbidden error message from the API.

![secedgar](https://user-images.githubusercontent.com/37578727/113583397-391d5480-9647-11eb-90d7-e309f1bb7f90.PNG)

[2021-04-05 14:34] jackmoody11 commented on #193
@meh369 When was the first time you noticed this started happening? I am wondering if we need to start adding a header to our requests.

[2021-04-05 14:40] meh369 commented on #193
So up until Friday the queries were working fine and I was able to extract the fillings, I noticed this from today (Didn't try on weekends) all day the queries didn't work.

[2021-04-05 22:10] jackmoody11 commented on #192
I am going to reopen this for issue tracking purposes since #190 is in discussions.

[2021-04-05 22:11] jackmoody11 commented on #192
@meh369 Were you able to get this to work?

[2021-04-05 22:28] jamiehannaford commented on #193
I'm also seeing this, seems to be quite recent.

[2021-04-07 02:24] jackmoody11 opened #197 "NetworkClient has too broad of try/catch"
**Describe the bug**
As it currently stands, the `NetworkClient` does not handle errors from the SEC very well. It is too broad. See #194.

**Expected behavior**
If there is a 403 error rather than a CIK not being able to be found, the error should be raised with information stating that this is a 403 error instead of trying to look up the CIK as a company name (which would again raise an error).

[2021-04-07 08:04] meh369 commented on #192
@jackmoody11  Sure, this is the error that I get I am assuming it's the soup.find function that gives a NoneType error.
![cik2](https://user-images.githubusercontent.com/37578727/113831877-b1019100-97a5-11eb-870e-af659d592982.PNG)

[2021-04-09 03:46] jackmoody11 commented on #193
@jamiehannaford @meh369 can you try running your code on the most recent version from GitHub and let us know if it works now?

[2021-04-09 03:46] jackmoody11 commented on #192
Fixed by #196.

[2021-04-09 03:46] #192 closed

[2021-04-10 15:58] jamiehannaford commented on #193
@jackmoody11 Yep, this works great. Thanks for the fix 👍

[2021-04-10 22:25] knslee07 opened #199 "Skipping full submission download due to network error: 403 Client Error: Forbidden for url: https://www.sec.gov/Archives/edgar/data"
**Describe the bug**
A clear and concise description of what the bug is.

I have been trying to download 10-Ks of all the companies. I see the 403 error for many of the requests.
This error occurs for several 10-Ks per tic and this error recurs for almost every tic.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'   dl.get("10-K", tic, include_amends=include_amends, download_detai

[2021-04-11 14:10] jackmoody11 commented on #199
@knslee07 can you try passing a NetworkClient object with a user_agent?

Should look something like

[code]

[2021-04-11 18:35] knslee07 commented on #199
Thank you for your reply.

Since I was trying to download by cik, I used filing, not dailyfilings as follows:

my_filings = Filing(cik_lookup='aapl', filing_type=FilingType.FILING_10K, count=10, client=secedgar.client.NetworkClient(user_agent='company(email)'));
or
my_filings = Filing(cik_lookup='aapl', filing_type=FilingType.FILING_10K, start_date=datetime(2000, 1, 1), user_agent='My Firm')

Thes

[2021-04-11 19:48] reteps commented on #199
The cursed error yet again

[2021-04-11 20:38] pierrehenry14 commented on #199
Got the same error.

[2021-04-12 03:01] jackmoody11 commented on #199
I think this has something to do with us not closing event loops or trying to create new loops when some are already running. The two things we should look at are how to use loop.close and how to use get_current_loop from asyncio.

[2021-04-12 21:03] sunnyguan commented on #199
This worked for me using `Filing` with 10Q

[2021-04-12 22:18] jackmoody11 commented on #199
We need to add **kwargs to `DailyFilings` so that users don't have to directly deal with NetworkClient. We already have this for `MasterFilings` (soon to be named `QuarterlyFilings`). Should just be a matter of adding **kwargs to init and super init.

[2021-04-24 03:15] jackmoody11 commented on #199
This is done now with #200.

[2021-04-24 03:16] jackmoody11 commented on #199
@knslee can you see if running
[code]

fixes your issue?

[2021-04-24 03:17] #193 closed

[2021-04-24 15:48] knslee07 commented on #199
Yes, it fixes the 403 client error. Like I said, It give the loop error though.

[2021-04-24 15:48] #199 closed

[2021-04-28 03:05] mikebrook opened #204 "getting timeouts on sample code"
**Describe the bug**
While trying to run the sample code locally, getting error:
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='www.sec.gov', port=443): Max retries exceeded with url: /files/company_tickers.json (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001B4FAD23160>: Failed to establish a new connection: [WinError 10060] A connection attempt f

[2021-04-29 01:18] jackmoody11 commented on #204
What version of secedgar are you using? You will need to specify your user agent as well.

[2021-06-02 17:46] miketsai05 opened #205 "Filing function end_date not defaulting to today?"
The end_date behavior in Filing doesn't seem to be defaulting to today.

For example, when I run this:
[code]

I get:
{'aapl': ['https://www.sec.gov/Archives/edgar/data/320193/000032019321000056/0000320193-21-000056.txt']}

Whereas if I run this
[code]

I get an empty list back:
{'aapl': []}

I am using secedgar version 0.3.3 on windows 10 pro

[2021-06-15 21:37] wangcong314 opened #206 "Too Many Requests"
**Describe the bug**
Hi. I am trying to download all 10-K/Q filings in a year-quarter, using the MasterFilings function. I get "Too many Requests" errors (see below). I tried running the same code several times, the error does not appear every time. I am a super beginner with python. I saw that the pause option is remove to rely on the backoff_factor. Can you please give me some hints on how shoul

[2021-06-16 18:40] wangcong314 commented on #206
I think I figured out how to do it. Defining a new class, "a", with rate_limit lower than 10. Note: If you do so, you much spcific user_agent in this class and NOT in the MasterFiling

a = NetworkClient(rate_limit=5,user_agent='XXX')
master_filings = MasterFilings(year=y, quarter=q,entry_filter=filing_filter,client=a)

[2021-06-16 18:40] #206 closed

[2021-06-18 21:45] jackmoody11 commented on #205
For the second filing, if you print out it's `end_date` property what do you get?

[2021-06-22 16:05] ividamileen opened #207 "Filings are not fetched when run inside a lambda function on AWS python runtime"
We are trying to download filings for some companies and we constantly run into 403 errors from a week now. Below is the code that fails and error pasted. Any help greatly appreciated. Works on a MAC though. Only fails on Amazon Linux.

Code:

    my_filings = Filing(cik_lookup=cik,
                        filing_type=FilingType.FILING_10Q,
                        count=1,user_agent='###') #user a

[2021-06-22 23:04] jackmoody11 commented on #207
Are you running this across multiple nodes/machines? The only thing I can think of would be overusing the website.

[2021-06-23 03:37] ividamileen commented on #207
Only running this on one machine and fetching 100 filings. I will try reducing requests per second.

[2021-07-02 03:27] khazaddim commented on #191
For me this is only happening in Jupyter notebook.   If I run in a .py file it works fine.

[2021-07-02 03:32] khazaddim commented on #191
I'm on python 3.7 64 bit Ubuntu 20.04

[2021-07-07 01:57] #157 closed

[2021-07-07 02:17] jackmoody11 opened #219 "Count/params not resetting after `get_urls`"
**Describe the bug**
`CompanyFilings` not resetting start parameter after using `get_urls` method.

**To Reproduce**
[code]

**Expected behavior**
Should reset start parameter after while loop.

[2021-07-07 02:20] jackmoody11 commented on #205
This may be a network issue. From what I can tell, these two snippets create an object with the same attributes. If this issue persists, I would recommend trying out the v0.4.0-alpha version. Keep us updated if this issue remains. I will close this for now, as I assume it is a network issue.

[2021-07-07 02:20] #205 closed

[2021-07-16 09:59] harrisondkurtz opened #220 "NetworkClient throws 403s when saving filings due to misconfigured user agent"
**Describe the bug**

The `NetworkClient` class is throwing 403s when filings are saved:

[code]

**To Reproduce**

[code]

**Resolution**

Add user agent header to `NetworkClient`

[2021-07-25 03:39] #220 closed

[2021-07-25 04:07] jackmoody11 commented on #207
If you `pip install secedgar=0.4.0-alpha.1` are you able to get past this issue?

[2021-07-26 16:23] sroussey opened #226 "error on daily"
**Describe the bug**
Running in a docker container (FROM python:3.9) `secedgar daily --date 20210723`

**Screenshots**
[code]

[2021-07-30 02:06] #176 closed

[2021-07-30 02:07] jackmoody11 commented on #226
Should be closed with #203

[2021-07-30 02:07] #226 closed

[2021-07-30 02:14] jackmoody11 commented on #187
I believe this should be closed with #174. Specifically, `make_path` in utils makes use of `os.path.expanduser`. Just need to add tests for this before closing.

[2021-07-30 02:16] jackmoody11 commented on #204
@mikebrook if you download the latest alpha (`pip install secedgar==0.v.0-alpha.2`) and specify your `user_agent` argument as is now required, is this issue resolved?

[2021-07-30 02:21] jackmoody11 opened #227 "Add compatibility with EDGAR APIs"
**Is your feature request related to a problem? Please describe.**
The SEC is currently offering a RESTful API in beta! See more [here](https://www.sec.gov/edgar/sec-api-documentation). Not sure exactly what the best way to integrate this into the package would be, but want to put it out there so that it can be discussed.

**Describe the solution you'd like**
Not sure yet. Add an api package that

[2021-07-30 02:37] jackmoody11 commented on #191
@khazaddim @President I think this issue is caused by ipykernel [having a persistent asyncio loop running](https://ipython.readthedocs.io/en/stable/interactive/autoawait.html#difference-between-terminal-ipython-and-ipykernel). You can [read about workarounds here](https://github.com/ipython/ipython/issues/11338).

Using the latest version of secedgar, I got the same RuntimeError, but interestingly

[2021-07-30 02:37] #191 closed

[2021-07-30 02:42] jackmoody11 opened #228 "Add more smoke tests to help with pre-release testing"
**Is your feature request related to a problem? Please describe.**
Most of the tests rely heavily on mocking. Sometimes changes by the SEC make the assumptions behind the mocks no longer work (e.g. user agent change causing 403 errors).

**Describe the solution you'd like**
We need to add more smoke tests (using `@pytest.mark.smoke`) so that tests can be run on the real thing instead of manually t

[2021-07-30 22:18] sroussey opened #229 "Error: Missing option '-u' / '--user-agent'"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
pip install -r click secedgar==0.4.0-alpha.2

secedgar daily --date 20210723

Error: Missing option '-u' / '--user-agent'.

secedgar daily --user-agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36" --date 20210723

Error: Missing option

[2021-07-30 22:52] jackmoody11 commented on #229
Hey @sroussey do this:

[code]

The way we are currently doing it is passing the context before calling the commands. This reduces code duplication, but seems a bit counterintuitive. Can reconsider if this is confusing. Or can add to docs.

[2021-07-30 22:57] sroussey commented on #229
Got it! Thanks!

[2021-07-30 22:59] sroussey commented on #229
Is there an option to back off when we get aiohttp.client_exceptions.ClientResponseError: 429, message='Too Many Requests' ?

[2021-07-31 16:36] jackmoody11 commented on #229
This isn't currently possible, but would be easy to add. Would just need to expose `NetworkClient` arguments to the [cli](https://github.com/sec-edgar/sec-edgar/blob/master/secedgar/cli.py).

[2021-07-31 17:27] sroussey commented on #229
Ah. Does NetworkClient have an exponential backoff built in?

[2021-07-31 19:24] jackmoody11 commented on #229
Yes, you can see [documentation here](https://github.com/sec-edgar/sec-edgar/blob/d88c7a331b2069dc399f0e752cd958cda1d278ae/secedgar/client.py#L29). This brings up another good point. I need to add more info about `NetworkClient` to the documentation.

[2021-07-31 20:22] sroussey commented on #229
Oh, great! All those args should be in the cli.

[2021-07-31 20:25] jackmoody11 commented on #229
Can you help with that @sroussey?

[2021-08-02 01:02] liyifu0302 opened #231 "message='Not Found', and the program stopped, how could I solve the problem?"
Hi everyone,

I encountered the following problem when downloading 10K from sec edgar ->

"404, message='Not Found', url=URL('https://www.sec.gov/Archives/edgar/data/884219/0000884219-96-000033.txt')"

and then the program stopped.
Here is my code, did anyone encounter the same problem here?

[code]

[2021-08-02 02:01] jackmoody11 commented on #231
@liyifu0302 thanks for reporting this. It looks like the error is on the SEC's side. You can see that this txt file is supposed to exist if you [look at this page on the SEC website](https://www.sec.gov/Archives/edgar/data/884219/000088421996000033/0000884219-96-000033-index.html). I am not exactly sure why this is happening. I would suggest adding a try and except block to take care of these case

[2021-08-02 02:01] #229 closed

[2021-08-02 02:39] liyifu0302 commented on #231
Thx for your kindly reply! I have managed to find the company, it's “VVI”. It seems that there should be some problems in year 1996 for this company, skipping this company should fix this minor bug.

[2021-08-09 01:51] dumrich opened #232 "Cannot import name 'CompanyFilings'"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the `secedgar` with pipenv install secedgar
2. Copy the sample program on
3. run `python test_edgar.py`
4. See error

**Expected behavior**
Filings assigned to the my_filings variable

**Screenshots**
[code]

**Desktop (please complete the following information):**

[2021-08-09 02:13] dumrich commented on #232
The exact error reads like this:
[code]

[2021-08-09 10:35] jackmoody11 commented on #232
What version of secedgar are you using? You probably want to install the alpha version. `pip install secedgar==0.4.0a2`

[2021-08-09 12:27] dumrich commented on #232
That solved it!

[2021-08-09 12:27] #232 closed

[2021-08-09 15:34] #231 closed

[2021-08-09 16:02] dumrich opened #233 "Human readable financial data"
I have saved all the data from the examples, and downloaded the `aapl` 10-Q form. The problem is that the resulting .txt file is not human readable. For example, if I only wanted to scrape 1 or 2 specific fields, how would I do that? This is the code I'm using:
[code]
The 4 fields I would need would be:
- Legal Proceedings
- Market for Long Term Debt
- Total Long Term Debt
- Management of related

[2021-08-14 00:08] jackmoody11 commented on #233
I would suggest taking a look at [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/). We have started working on a parser to help with this, but it is still a work in progress.

[2021-08-17 13:22] Thayyib786 opened #236 "ImportError"
**mportError                               Traceback (most recent call last)
<ipython-input-7-2aedf9560771> in <module>
----> 1 from secedgar import filings, FilingType
      2
      3 # 10Q filings for Apple (ticker "aapl")
      4 my_filings = filings(cik_lookup="aapl",
      5                      filing_type=FilingType.FILING_10Q,

ImportError: cannot import name 'FilingType' from 'secedgar' (

[2021-08-20 04:48] nhatkthanh commented on #236
Install the latest alpha version will fix this.  At the time of this writing, pip install secedgar==v0.4.0-alpha.2

[2021-08-21 17:16] #236 closed

[2021-08-21 22:47] jiapenghe1996 opened #237 "Filing Type "CT ORDER""
Hello,

Thank you for maintaining this incredible tool! I am wondering why the code doesn't support filing type "CT Order"? (see [https://www.sec.gov/edgar/searchedgar/ctorders.htm](url)). My apologies if I miss anything here.

Best,
Jacob

[2021-08-22 00:39] jackmoody11 commented on #237
@jiapenghe1996 you are right. We have an open PR that should solve this. I'll merge that into master. Thanks for bringing this to my attention!

[2021-08-22 01:18] jiapenghe1996 commented on #237
Thank you!

[2021-08-24 03:18] jiapenghe1996 commented on #237
This may or may not related to this Issue: do you know why the downloaded txt file for "CR Order" is garbled? (for example, https://www.sec.gov/Archives/edgar/data/1123979/999999999715000718/9999999997-15-000718.txt).

Thank you for reading my post.

[2021-08-27 19:23] kungfu-eric opened #238 "Strange corner case FRC (1132979)"
**Describe the bug**
Filings retrieval for an S&P500 company First Republic Bank doesn't work with the symbol or CIK code.

**To Reproduce**
If following the ReadMe example:
[code]

**Expected behavior**
Downloading filings works for other companies.

[2021-08-30 20:05] smaiyaki opened #239 "ModuleNotFoundError: No module named 'secedgar.core'; 'secedgar' is not a package"
**Describe the bug**
Having import errors when trying to use the example code from the documentation.
The documentation mentions that the code below will work

[code]

I always get errors as described in this report https://github.com/sec-edgar/sec-edgar/issues/232 and using the latest `0.4.0a2` does not fix the issue..

I am therefore using this version after looking through at the code
[code]

*

[2021-08-31 11:53] jackmoody11 commented on #239
See #236.

[2021-09-02 21:00] smaiyaki commented on #239
hi @jackmoody11 ,

its working only when I interact with the python interpreter but does not work when executing from a .py file even with the virtualenv activated. I will work more on this from my end

[2021-09-03 22:49] kungfu-eric commented on #238
From their website:

Closing the issue as this is not a EDGAR issue then..

[2021-09-03 22:49] #238 closed

[2021-09-04 20:13] oerdem19 opened #240 "Response payload is not complete."
**Describe the bug**
Quarterly download is interrupted. I changed rate_limit to various numbers (under 10) but it still keeps happening. rate_limit=1 looked a bit stable.

**To Reproduce**
Steps to reproduce the behavior:
1.
quarterly = sec.QuarterlyFilings(year=2014, quarter=1, entry_filter = lambda f: f.form_type.lower() == "10-k", user_agent="xxxx (email)", rate_limit=4 )
quarterly.save("/mnt/f

[2021-09-06 01:34] jackmoody11 commented on #239
What version is shown when you `pip list`?

[2021-09-06 20:59] smaiyaki commented on #239
hi @jackmoody11 ,

Here is the result of the `pip list` command
[code]

and below is my current error:
[code]

[2021-10-05 02:58] oerdem19 opened #241 "Download all filings for specific/multiple companies."
**Describe the bug**
I am trying to download all available files for a specific company or companies using the following code.

[code]
Returns:

AttributeError: 'NoneType' object has no attribute 'value'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Saving of all files for a specific company/multipl

[2021-10-14 16:35] kuatroka opened #243 "The same and only file gets downloaded for all years and quarters and filing types"
**Describe the bug**
When running a sample piece of code from the official documentation (with addition of a custom `client`), the data that is downloaded is the same and the only file that gets downloaded for all years, quarters and filing types. See screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Run the code snippet below

[code]

**Expected behavior**
All 13F filings being dow

[2021-10-24 02:35] jackmoody11 commented on #241
You need to specify which filing type you want to get (for example, `filing_type=FilingType.FILING_10Q`).

[2021-10-24 02:53] jackmoody11 commented on #239
Hmm...I am not able to get the same issue. Maybe try pip installing these exact versions and see if it works.

[code]

[code]

[2021-10-26 00:33] MineSafety opened #244 "13F-HR/A Files are downloaded with filing_type=FilingType.FILING_13FHR"
**Describe the bug**

Using `filing_type=FilingType.FILING_13FHR` seems to include _both_ 13F-HR and 13F-HR/A files. Expectation would be that it _only_ downloads 13F-HR files, and not the amended filings.

**To Reproduce**
[code]
Notice how both 13F-HR and 13F-HR/A files are downloaded to the `/filings/{cik}/13F-HR/` folder. Whereas if you were to use `filing_type=FilingType.FILING_13FHR_AMEND`,

[2021-11-02 18:12] gooseyman commented on #154
@jackmoody11 was the ability to select multiple filing types implemented in 0.4.0? I'm reading source and not seeing where. If it was, do you have an example of how one could make the call for multiple filing types for one company?

i.e. -
`CompanyFilings(cik_lookup=cik_list, start_date=date(2021, 11, 1), filing_type=['FilingType.FILING_10K, FilingType.FILING_10K], client=a)`

[2021-11-04 10:15] jackmoody11 commented on #154
@gooseyman we did not get around to it. You can loop through filing types and call save in each loop. If you'd like to help add this feature, would be happy to look over proposed code.

[2021-11-04 10:20] jackmoody11 commented on #154
Reopening this issue as there seem to be some remaining issues with filing types.

- e.g., 4 matches with 424 as well. Need to explicitly filter.
- add support for groups of filings

[2021-11-04 10:21] jackmoody11 commented on #244
@MineSafety yes, this is a bug. We need to filter so that those results aren't considered when fetching data. Just reopened #154.

[2021-11-28 17:37] jackmoody11 commented on #239
I was not able to replicate this issue and think it may be an issue with using the virtual environment. Let me know if you find out otherwise and I will reopen.

[2021-11-28 17:37] #239 closed

[2021-11-28 18:12] #187 closed

[2021-11-28 20:19] #244 closed

[2021-12-04 19:37] jackmoody11 commented on #237
Hey @jiapenghe1996, looks like they are trying to include a PDF which shows up weird.

[2021-12-12 13:07] jackmoody11 opened #252 "Add conda"
We should add the ability for users to install secedgar via conda.

[2021-12-17 00:17] darrion opened #253 "Form 4 Parser"
**Is your feature request related to a problem? Please describe.**
Insider trading information has become a hot commodity for retail investors. The parser does not currently extract pertinent data on buying and selling of securities by insiders.

**Describe the solution you'd like**
Add a function to the parser to extract non-derivative transaction information pertinent to retail investors intendi

[2021-12-17 04:34] jackmoody11 commented on #253
Looks like you have already started working on this @darrion. If you create a PR, I can review.

[2021-12-21 04:22] #181 closed

[2021-12-28 02:12] ajrq opened #255 "'NoneType' object has no attribute 'upper' error running example"
Running code as in example on this repository

[code]
returns the following error:
[code]

Version:
[code]

[2021-12-28 13:53] #253 closed

[2021-12-28 20:46] jackmoody11 commented on #255
Thanks for reporting this. One of the tickers provided by EDGAR provides no title. Here is the code I used to debug:

[code]

For me, this prints:

`[{'cik_str': 1104206, 'ticker': 'RIGG', 'title': None}]`

I think the most elegant solution here is to just not include the CIK if there isn't a valid ticker or title. In this case, we would include "RIGG": 1104206 as a key-value pair in the ticker di

[2021-12-28 21:14] #255 closed

[2021-12-29 15:51] Azam999 commented on #255
still doesn't work

[2021-12-29 15:52] Azam999 commented on #255
How was this fixed?

[2021-12-29 16:14] jackmoody11 commented on #255
You need to pip install the latest version from GitHub.

`pip install git+https://github.com/sec-edgar/sec-edgar.git`

[2021-12-30 04:57] Azam999 commented on #255
Ok

[2022-01-01 11:07] abitrolly opened #257 "Is EDGAR Bulk API of any use?"
Is Bulk Data download from https://www.sec.gov/edgar/sec-api-documentation useful? It looks more accessible than dealing with imposed API restrictions.

I am specifically interested in executive compensation from DEF-14A but I have no idea what it takes to extract it for all companies.

[2022-01-01 18:17] jackmoody11 commented on #257
Yes, this would be useful to add. I wrote some comments on this in #227. Would you be willing to help make this part of the package? I am happy to help walk you through the process.

[2022-01-02 22:36] #243 closed

[2022-01-02 23:01] #219 closed

[2022-01-02 23:17] #228 closed

[2022-01-02 23:21] jackmoody11 commented on #207
Have you had a chance to try this again @ividamileen? I would like to close this if possible.

[2022-01-02 23:34] jackmoody11 commented on #204
@mikebrook have you been able to try this out again?

[2022-01-03 02:54] jackmoody11 opened #259 "Simplify F4Parser"
Patterns used in F4Parser can be improved by creating patterns via a function.

[code]

[2022-01-03 14:51] abitrolly commented on #257
* Understand if bul
*

[2022-01-03 14:59] abitrolly commented on #257
Well, some structured approach to getting this data would be nice. I haven't found a list of fields that `sec-edgar` can extract. Only that it can download the fillings.

Even if `sec-edgar` is able to extract the field, the Bulk API data may not contain what I need, so I need to check that first.

* [ ] Download https://www.sec.gov/Archives/edgar/daily-index/xbrl/companyfacts.zip
* [ ] Unpack htt

[2022-01-03 15:30] abitrolly commented on #257
Download required setting user-agent.
[code]

[2022-01-03 15:43] abitrolly commented on #257
`companyfacts.zip` expanded almost 1Gb archive into 13Gb of .json files named like `CIK0001859035.json`
[code]
[code]

[2022-01-03 16:06] abitrolly commented on #257
`companyfacts.zip` yields no "executive compensation" strings.

[2022-01-04 10:16] abitrolly commented on #257
`submissions.zip` contains 500000+ files in a single dir (!) and my system have problems even unpacking that. :D

18 hours

[2022-01-04 11:58] abitrolly commented on #257
Using `unzip` instead of `7z` in the end was 18 hours faster. ) So I unpacked files, but I still have no idea about the structure, because there is no scheme or ERD diagrams. Need a way to look at that somehow without being overwhelmed.

[2022-01-04 12:06] jackmoody11 commented on #257
If you are on Linux or UNIX you can use [tree](https://en.m.wikipedia.org/wiki/Tree_(command))

[2022-01-04 12:43] abitrolly commented on #257
The file layout is pretty simple - it is 781211 JSON files in a single dir. The diagrams I need are about JSON structure. I have no idea how to find which fields should contain executive compensation from DEF 14A. Maybe there are no such fields at all.

[2022-01-04 16:53] niklascube opened #261 "get_cik_map() causes AttributeError due object type "None" in returned list"
**Description**
Using the method get_cik_map() of the module cik_lookup an AttributeError with the message "'NoneType' object has no attribute 'upper'" is generated. This error occurs because in the returned list an object has the type NULL.

Object of matter: `{"cik_str":1104206,"ticker":"RIGG","title":null}`

**To Reproduce**
Just start the method get_cik_map() from module cik_lookup.

**Error**

[2022-01-04 17:01] niklascube commented on #261
Just saw, somebody already tried to fix the issue by just skipping the entry. I committed something which replaces the None with as an empty string.

[2022-01-04 20:24] ividamileen commented on #207
@jackmoody11 I stopped using this and implemented in house implementation due to time constraints. Thanks for your help!

[2022-01-04 20:25] ividamileen commented on #207
The issue was with the user-agent header not sent correctly!

[2022-01-04 22:22] #207 closed

[2022-01-04 23:48] jackmoody11 commented on #261
Hi @niklascube, I think this should be fixed. Can you try using the latest code in master?

[2022-01-05 13:41] techSash opened #262 "AttributeError: 'NoneType' object has no attribute 'upper'"
I am trying to download the filing for a particular CIK.

[code]

This returns the following error

[code]

I noticed that this issue exists in the 0.3.3 version. The 0.4.0 alpha2 version does not seem to have this issue.

[2022-01-06 04:00] jackmoody11 commented on #262
This was solved recently with #256.

[2022-01-06 04:00] #262 closed

[2022-01-06 07:20] niklascube commented on #261
Not really. The current solution skips the whole object, so that the mentioned RIGG entry is deleted. My solution does not skip the object and returns the object with an empty title. The cik is returned probably then.

[2022-01-13 12:57] niklascube commented on #261
I've made a suggestion on my forked repo: https://github.com/niklascube/sec-edgar/commit/495c688cded04324167c4563289e85ff4ead6bce

@jackmoody11 may you have a look?

[2022-01-15 04:08] jackmoody11 commented on #261
@niklascube if multiple tickers or company names are missing, won't the empty string key be overwritten?

[2022-02-18 20:20] nicholasritter opened #263 "install attempt yields AttributeError: module 'async_timeout' has no attribute 'Timeout'"
**Describe the bug**
When I try to install secedgar (`from secedgar.filings import filings, FilingType`) I get

I think this may be caused by the fact that secedgar version 0.3.3 requires async-timeout 3.0 <= version < 4.0 but the most recent version of aiohttp requires async-timeout version >= 4.0. Looking at the traceback, the attribute error is thrown during the installation of the aiohttp pack

[2022-02-18 22:44] nicholasritter commented on #263
@jackmoody11 That worked, thanks, after reverting to aiohttp v3.7 and updating to secdgar v0.4.0a2 I was able to run the install without errors. The additional step (updating secedgar) was necessary because I got the error

without first updating (found that fix on a separate issue that was already closed).

[2022-02-21 19:56] SundareshSankaran opened #264 "Can we lookup CIKs based on Standard Industrial Classification (SIC)"
**Is your feature request related to a problem? Please describe.**
I am interested in analysis per industrial sector and would like to use SIC codes (Standard Industrial Classification) to filter CIKs for a particular industry, and then analyse 10-Ks for each CIK.

**Describe the solution you'd like**
Allow cit_lookup to accept a list of SIC codes as a parameter.  Or, alternatively, provide a sepa

[2022-03-02 07:21] 1-Harshit opened #265 "Is this comaptible with python 3.10 ?"
**Describe the bug**
I am getting import error over and over again while working with this package.

**To Reproduce**
Steps to reproduce the behavior:
1. using Python 3.10.2 (pip 22.0.3)
2. use venv
3. pip install
4. paste the demo code from the documentation

**Expected behavior**
Import error

**Desktop (please complete the following information):**
I am on manjaro linux 5.15.25-1-MANJARO

[2022-03-02 12:08] jackmoody11 commented on #265
See #236. The current documentation is for the code in alpha.

[2022-03-03 18:08] 1-Harshit commented on #265
Thanks!

[2022-03-03 18:08] #265 closed

[2022-03-14 10:12] Mr-S-Mirzoev opened #266 "Unclear error during downloading data"
**Describe the bug**
Unclear error during using filings.save()

**To Reproduce**
During using the library as follows:
`my_filings = filings(cik_lookup="V",
                     filing_type=FilingType.FILING_10K,
                     user_agent="email@gmail.com",)
my_filings.save(".")`

 I'm experiencing the following error:
 ----> 5 my_filings.save(".")

9 frames
[/usr/lib/python3.7/json/decoder.p

[2022-03-14 10:16] Mr-S-Mirzoev opened #267 "Support proxy"
**Is your feature request related to a problem? Please describe.**
Sometimes (for webscrapping tools, for example) it's helpful to have an option to have the ability to pass proxy

**Describe the solution you'd like**
I'd like proxy (in requests library way) as an argument for 'filings' function

`proxies = {
     'http': 'http://190.60.71.124:80',
     'https': 'https://190.60.71.124:8080',
} `

[2022-03-20 22:12] kuatroka commented on #266
Just in case, recreate this on your local machine and see if you still get the same error. I had a similar experience with Colab but using a different library to download the SEC data. Once moved to the local environment, all went ok

[2022-03-28 03:34] gitscamI opened #268 "how to use it to download 13f form???"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-29 12:57] adildg commented on #268
[code]

[2022-04-17 06:46] agraddy opened #269 "ComboFilings lambda bug when QuarterlyFilings called"
**Describe the bug**
When ComboFilings uses QuarterlyFilings, it includes a lamba in two different locations that is causing an error:
https://github.com/sec-edgar/sec-edgar/blob/master/secedgar/core/combo.py#L169
https://github.com/sec-edgar/sec-edgar/blob/master/secedgar/core/combo.py#L186

Those lines say:
[code]
And
[code]

This is causing an error that says:

I believe this is what those line

[2022-04-30 23:48] jackmoody11 commented on #269
Thanks for pointing this out! Just created PR and will merge and create a new patch once CI gives the ok.

[2022-04-30 23:49] #268 closed

[2022-04-30 23:49] #263 closed

[2022-04-30 23:50] jackmoody11 commented on #264
Sorry for the late response. It seems like this should be possible. Would you want to implement this feature?

[2022-04-30 23:56] jackmoody11 commented on #267
This is possible. Would you want to create a pull request to implement this? I think all you would need to do is add the ability to the `fetch` method in client.py and then change a few things downstream to accept the kwargs. The more general way would be to make it so that any keyword arguments can be passed to the session you are using via `aiohttp` when running `session.get`.

[code]

[2022-04-30 23:57] jackmoody11 commented on #266
@Mr-S-Mirzoev have you tried this outside of Colab?

[2022-05-02 12:19] kuatroka opened #271 "CIK to TICKER and CUSIP to TICKER mapping"
It's more of a question than a feature request.
Does anybody know of a possible logic/conceptual process or an actual module that would take a CIK and much more importantly CUSIP and convert it to a corresponding TICKER? At least for US market?

[2022-05-07 18:43] jackmoody11 commented on #271
Does this help?

http://rankandfiled.com/#/data/cusips

[2022-05-08 10:13] kuatroka commented on #271
Thanks Jack. It seems to be exactly what I'm after

[2022-05-08 22:39] #271 closed

[2022-05-10 21:43] gautambak opened #272 "ImportError: cannot import name 'FilingType' from 'secedgar' (/usr/local/lib/python3.7/dist-packages/secedgar/__init__.py)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
in google colab follow the steps on the site:
!pip install secedgar
from secedgar import filings, FilingType

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

*

[2022-05-10 21:49] gautambak commented on #272
Note it works if I do this:
!pip install secedgar==0.4.0a2

[2022-05-15 18:24] #269 closed

[2022-05-15 19:22] jackmoody11 commented on #272
Duplicate of #236

[2022-05-15 19:22] #272 closed

[2022-05-24 20:56] agdownes opened #273 "AttributeError: module 'async_timeout' has no attribute 'Timeout'"
when running the demo code:

from secedgar import FilingType, filings

my_filings = filings(cik_lookup="AAPL",
                     filing_type=FilingType.FILING_10K,
                     user_agent="Name name@me.com")
my_filings.save('/home/tony/Downloads/sec_test/')

secedgar 0.4.0a3
async-timeout 3.01

[2022-05-24 21:10] agdownes commented on #273
Issue seems to be aiohttp requires async-timeout >=4 but secedgar requires async-timeout <4

[2022-05-24 23:00] jackmoody11 commented on #273
See #263

[2022-05-24 23:00] #273 closed

[2022-06-01 13:18] adildg commented on #233
I was wondering if you guys found a solution. Because it's almost impossible to use only BS4 to parse the form. You'll have to use regex + bs4

[2022-06-08 18:31] sgreen7979 opened #277 "need to initiate self.user_agent in class ComboFilings in core/combo.py"
**Describe the bug**
The `ComboFilings` class [./core/combo.py] throws an an `AttributeError` when attempting to run the "Daily Filings" example because self.user_agent is not initiated.   Simply need to add `self.user_agent = user_agent` as per the below.

EXISTING:

[code]

FIXED:

[code]

[2022-06-10 03:21] jackmoody11 commented on #277
Thanks for catching this. Do you want to create a pull request with this fix?

[2022-06-10 23:00] abbass2 opened #278 "Conflict with running event loop in Jupyter"
**Describe the bug**
Error running in Jupyter which already has a running event loop

**To Reproduce**
Steps to reproduce the behavior:
Run the following code in Jupyter:
[code]

**Expected behavior**
You get the following error
[code]

**Desktop (please complete the following information):**
macOS

**Additional context**
Can be fixed with the following code in the last lines of _index.py
[code]

[2022-06-24 23:05] petiesmo commented on #278
I encountered a similar "This event loop is already running" error in a Google Colaboratory notebook.
It is not necessarily an issue with the **secedgar** library; moreso, the issue lies with Jupyter-style notebooks: each notebook cell runs an event loop, and does not handle the nested loop of the async code within.
Using a solution I found on StackOverflow, I was successful with adding the follow

[2022-07-11 15:15] MayZ7 opened #280 "Too Many Request. You’ve Exceeded the SEC’s Traffic Limit"
**Describe the bug**
SEC blocks my request but it does not over the limit (10 requests per second). The speed was around 9.7-9.9 requests per second. time.sleep may help but i do not know how to add it or where i should insert that in the scripts. Could you provide any comments on how to address this issue? Thank you!

  5%|▌         | 240/4440 [00:24<07:04,  9.89it/s]
Traceback (most recent call

[2022-07-13 05:21] rahul18cracker opened #281 "secedgar 0.4.0a2 requires async-timeout<4.0,>=3.0, but you have async-timeout 4.0.2 which is incompatible."
**Describe the bug**
I was trying to do a `pip install Redis` when i see the error for async-timeout being greater than 4.0. I refered to this #263  and upgraded the aiohttp and sec edgar to 0.4.0a2. But now i see a different error

[code]
I thought after upgrading to 0.4.0a2 this need to downgrade asyn-timeout would not be there. Can you please let me know the correct combination with Redis ?

My

[2022-07-26 03:21] rahul18cracker commented on #281
@varunpan : I am sorry for the late response, can you please clarify a bit more ?
1. You downloaded the sec edgar repo
2. then you removed the restriction, can you please clarify where did you remove this restriction from ? file pointer or diff's would be helpful

Few more questions:
1. What will happen when you upgrade secedgar ?

@jackmoody11
1. Can you please comment here is this is the correct

[2022-08-24 12:35] ethankershner commented on #257
I am currently trying to use the bulk downloads to retrieve SEC Form 4s. It appears that each JSON has accession numbers and form types for each filing by CIK, but I haven't figured out how to actually get the URL to that filing. Does anyone know how to get the URL to filings? I haven't been able to figure out the URL structure yet.

[2022-08-24 14:03] abitrolly commented on #257
No idea. I've got a strong feeling that SEC is doing its job so poorly on purpose. If the democracy works, they should just hire the maintainers and contributors to this repo to make things right for people.

[2022-09-05 17:34] #277 closed

[2022-09-05 18:01] jackmoody11 commented on #237
Closed with #201

[2022-09-05 18:01] #237 closed

[2022-09-08 00:54] jackmoody11 opened #282 "Add support for Financial Statement Data Sets from Zip files"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add support to easily download financial statement data from [Financial Statement Data Sets](https://www.sec.gov/dera/data/financial-statement-data-sets.html)

**Describe alternatives you've considered**
Could use REST API or download via Financial_Report.xlsx (for 10-K or 10-Q) instead, but